<template>
  <div class="input__container">
    <div class="input__wrapper">
      <input
        class="input__element"
        :class="[
          options.show.error && options.validate && isInvalid === true && 'invalid',
          options.show.success && options.validate && isInvalid === false && innerValue && 'valid',
          options.show.clean && innerValue === '' && 'clean',
          readonly && 'readonly'
        ]"
        :id="id"
        type="password"
        :disabled="disabled"
        :pattern="options.text.pattern"
        :maxlength="options.text.maxlength"
        :minlength="options.text.minlength"
        v-model="innerValue"
        @input="options.auto ? getInputChange($event) : undefined"
        @blur="showPlaceholder($event)"
        @keydown.enter="!options.auto ? getInputChange($event) : undefined">

        <fa-icon v-if="options.show.icons && options.validate && selectedIcon" :class="['input__icon', isInvalid && 'invalid', !isInvalid && 'valid']" :icon="selectedIcon"></fa-icon>
    </div>
    <!-- este :class, debe hacerse dinámico, usando propiedades -->
    <div v-if="showInputPlaceholder" :id="placeholderPrefix + id" class="input__placeholder" :title="needsEllipsis ? placeholder : null" @click="hidePlaceholder($event)">
      <p :class="['input__placeholder-text', needsEllipsis && 'overflow-text']">{{placeholder}}</p>
    </div>

    <div v-if="isInvalid && errorMsg" class="input__info">
      {{errorMsg}}
    </div>
    <!-- TODO: eliminar, testing purposes -->
    <!-- <div style="padding-top: 3rem;">
      valor: {{innerValue}}
      <br>
      showInputPlaceholder: {{showInputPlaceholder}}
      <br>
      isInvalid: {{isInvalid ? 'invalid' : 'valid'}}
      <br>
      resumen: {{!isInvalid && innerValue ? 'SIII' : 'NOOO'}}
      <br>
      Metemos un icono de font awesome: <fa-icon icon="user-secret"></fa-icon>
    </div> -->
  </div>
</template>

<script lang="ts">
import { Component, Vue, PropSync, Prop } from 'vue-property-decorator';

import { InputEvent, InputEventTarget } from '@/interfaces/input-event.ts';

import { debounce } from 'ts-debounce';

import { ValidityState } from '@/interfaces/polyfill.ts';
import CustomInput from './CustomInput.vue';

/* TODO:
    · baseClass -> sobreescribe la clase actual por defecto par aplicar otros estilos --- TODO??
*/

@Component
export default class CustomPassInput extends CustomInput {
  /// DECLARATIONS / PROPS / PROVIDE ///

  // @Prop({ type: Boolean, required: false, default: false }) protected readonly disabled!: boolean;
  // // @Prop({ type: String, required: false, default: 'text' }) protected readonly inputType!: string;
  // @Prop({ type: String, required: false }) protected readonly value!: string | number;
  // @Prop({ type: String, required: false }) protected placeholder!: string;
  // @Prop({ type: String, required: false, default: '' }) protected readonly clientErrorMsg!: string | null;
  // @Prop({ type: Number, required: false, default: 666 }) protected debounceTime!: number | undefined;
  // @Prop({ type: Boolean, required: false, default: false }) protected readonly!: boolean;
  @Prop({
    type: Object,
    required: false,
    default: () => {
      return {
        text: {},
        show: {},
        icons: {},
        validate: true,
        auto: true
      };
    },
  }) protected options!: {
    number: any, text: any, show: any, icons: any, validate: boolean | null, auto: boolean | null
  };

  protected innerValue!: string;

  protected id!: string;
  protected placeholderPrefix!: string;

  protected inputElement!: HTMLInputElement | null;
  protected placeholderElement!: HTMLSpanElement | null;

  protected isInvalid!: boolean | null;
  protected errorMsg!: string | null;

  protected showInputPlaceholder!: boolean;
  protected needsEllipsis: boolean = false;

  protected validTextInputTypes!: any;

  protected handleInputChange!: any;


  protected selectedIcon!: string;
  protected selectedIconClass!: string;

  /// LOCAL DATA ///
  protected errorMessages!: Map<string, string>;

  /// COMPONENT DATA / HOOKS ///
  constructor() {
    super();
    // con llamar a 'super()' los datos estaticos básicos se extienden en este componente
    // aqui inicializamos los valores locales
    // TODO: PASAR A PROP!!!!!!!!!!!
    const errorMessages = new Map<string, string>();
    errorMessages.set('patternMismatch', 'El formato no coincide con el permitido');
    errorMessages.set('tooShort', 'El valor debe superar los ' + this.options.text.minlength + ' caracteres');
    errorMessages.set('tooLong', 'El valor no debe superar los ' + this.options.text.maxlength + ' caracteres');
    // TODO: añadir todos los tipos de error
    this.errorMessages = errorMessages;
  }

  // si hubiese algo que añadir al componente, y que sea reactivo -> aqui
  // protected data() {
  //   return {};
  // }

  /// HOOKS ///

  protected mounted() {
    this.handleInputChange = debounce((isValid: boolean, errorTypes?: string[]) => {
      if (isValid) {
        this.isInvalid = false;
        if (this.innerValue) {
          this.emitInputValue(this.innerValue);
          this.selectedIcon = this.options.icons.success.name;
          this.selectedIconClass = this.options.icons.success.customClass;
        }
      } else {
        this.isInvalid = true;
        // TODO: añadir condicion para ver cuando queremos mostrar texto propio o del navegador
        if (!this.clientErrorMsg && errorTypes && errorTypes.length) {
          // TODO: actualizar tipo de error segun errorType
          console.log('errorTypes', errorTypes);
          // this.errorMsg = 'mensaje de error general, WIP';
          this.errorMsg = errorTypes.length === 1 ? 'Error: ' : 'Errores: ';
          let errLen = errorTypes.length;
          while (errLen--) {
            this.errorMsg += this.errorMessages.get(errorTypes[errLen]);
            this.errorMsg += errLen ? '\n' : '';
          }
        } else {
          this.errorMsg = this.clientErrorMsg;
        }
        this.selectedIcon = this.options.icons.error.name;
        this.selectedIconClass = this.options.icons.error.customClass;
      }
    }, this.debounceTime);
  }

  // protected created() {
  //   super.created();
  //   // ñññññapita para evitar tontadas de tipos de variable
  //   this.innerValue = typeof this.value === 'number' ? '' + this.value : this.value;
  //   if (!this.innerValue) {
  //     this.showInputPlaceholder = true;
  //   } else {
  //     this.showInputPlaceholder = false;
  //   }

  //   this.handleInputChange = debounce((isValid: boolean) => {
  //     if (isValid) {
  //       this.isInvalid = false;
  //       if (this.innerValue) {
  //         this.emitInputValue(this.innerValue);
  //         this.selectedIcon = this.options.icons.success.name;
  //         this.selectedIconClass = this.options.icons.success.customClass;
  //       }
  //     } else {
  //       this.isInvalid = true;
  //       // TODO: añadir condicion para ver cuando queremos mostrar texto propio o del navegador
  //       this.errorMsg = !this.clientErrorMsg ? this.inputElement && this.inputElement.validationMessage : this.clientErrorMsg;
  //       this.selectedIcon = this.options.icons.error.name;
  //       this.selectedIconClass = this.options.icons.error.customClass;
  //     }
  //   }, this.debounceTime);
  // }


  /// METHODS ///

  // protected checkPlaceholderSize() {}

  // protected getInputChange($event: InputEvent) {}
  protected getInputChange($event: InputEvent) {
    // este tipo de input necesita una validación 'custom'
    this.isInvalid = null;
    this.selectedIcon = '';
    let isValid = true;
    const errorTypes = [];
    if (this.options.validate && this.inputElement) {
      // cogemos todos los valores posibles de validacion
      for (const key in this.inputElement.validity) {
        // ñññññapita buena para evitar que las interfaces sin 'index signature' den error del linter...
        if ((this.inputElement.validity as ValidityState)[key]) {
          // hay un error del tipo 'key'
          if (key !== 'valid') {
            errorTypes.push(key);
          }
        }
      }
      isValid = !errorTypes.length;
    }
    // TODO: controlar las validaciones, y mostrar mensaje de error
    this.handleInputChange(isValid, errorTypes);
  }

  // protected emitInputValue(val: string | number) {}

  // protected hidePlaceholder($event: MouseEvent) {}

  // UTILS

  // no es necesario sobreescribir los 'utils' del componente padre, se heredan

}


// v0.1 -> input type password con todos los valores posibles --- WIP 60%

</script>
<style lang="scss" scoped>
  @import './../../assets/styles/custom/input.scss';
</style>