<template>
  <div class="input__container">
    <div class="input__wrapper">
      <input
        class="input__element"
        :class="[
          options.show.error && options.validate && isInvalid === true && 'invalid',
          options.show.success && options.validate && isInvalid === false && innerValue && 'valid',
          options.show.clean && innerValue === '' && 'clean',
          readonly && 'readonly'
        ]"
        :id="id"
        :type="inputType"
        :disabled="disabled"
        :readonly="readonly"
        :pattern="inputType === 'text' && options.text.pattern"
        :maxlength="inputType === 'text' && options.text.maxlength"
        :minlength="inputType === 'text' && options.text.minlength"
        :spellcheck="inputType === 'text' && options.text.spellcheck"
        :min="inputType === 'number' && options.number.min"
        :max="inputType === 'number' && options.number.max"
        :step="inputType === 'number' && options.number.step"
        v-model="innerValue"
        @input="options.auto ? getInputChange($event) : undefined"
        @blur="showPlaceholder($event)"
        @keydown="inputType === 'number' ? checkCharacterValidity($event) : undefined"
        @keydown.enter="!options.auto ? getInputChange($event) : undefined">

        <fa-icon v-if="options.show.icons && options.validate && selectedIcon" :class="['input__icon', isInvalid && 'invalid', !isInvalid && 'valid']" :icon="selectedIcon"></fa-icon>
    </div>
    <!-- este :class, debe hacerse dinámico, usando propiedades -->
    <div v-if="showInputPlaceholder" :id="placeholderPrefix + id" class="input__placeholder" :title="needsEllipsis ? placeholder : null" @click="hidePlaceholder($event)">
      <p :class="['input__placeholder-text', needsEllipsis && 'overflow-text']">{{placeholder}}</p>
    </div>

    <div v-if="isInvalid && errorMsg" class="input__info">
      {{errorMsg}}
    </div>
    <!-- TODO: eliminar, testing purposes -->
    <!-- <div style="padding-top: 3rem;">
      valor: {{innerValue}}
      <br>
      showInputPlaceholder: {{showInputPlaceholder}}
      <br>
      isInvalid: {{isInvalid ? 'invalid' : 'valid'}}
      <br>
      resumen: {{!isInvalid && innerValue ? 'SIII' : 'NOOO'}}
      <br>
      Metemos un icono de font awesome: <fa-icon icon="user-secret"></fa-icon>
    </div> -->
  </div>
</template>

<script lang="ts">
import { Component, Vue, PropSync, Prop } from 'vue-property-decorator';

import { InputEvent, InputEventTarget } from '@/interfaces/input-event.ts';

import { debounce } from 'ts-debounce';

/* TODO:

  - añadir una prop 'config' ->
    · number -> opciones input type number -- WIP 60%
    · text -> opciones input type text -- WIP 60%
    · show -> para controlar que queremos que se muestre o no --- WIP 80%
      - error: boolean
      - success: boolean
      - icons: boolean
      - warn: boolean --- TODO
    · icons -> iconos error y success --- WIP 60%
      - success: ->
        · name: string (cadena con el nombre de fontawesome)
        · customClass: string
      - error:
        · name: (string con el nombre de fontawesome)
        · customClass: string
    · validate: boolean -> para controlar si hay o no validacion --- DONE
    · auto: boolean -> permite que el valor se emita automaticamente o bien por medio del boton enter
    · classes -> clases para pintar estados del input --- TODO
      - valid, invalid, clean
    · baseClass -> sobreescribe la clase actual por defecto par aplicar otros estilos --- TODO??
*/

@Component
export default class CustomInput extends Vue {
  /// DECLARATIONS / PROPS / PROVIDE ///

  @Prop({ type: Boolean, required: false, default: false }) protected readonly disabled!: boolean;
  @Prop({ type: String, required: false, default: 'text' }) protected readonly inputType!: string;
  @Prop({ type: String, required: false }) protected readonly value!: string | number;

  @Prop({ type: String, required: false }) protected placeholder!: string;

  @Prop({ type: String, required: false, default: '' }) protected readonly clientErrorMsg!: string | null;

  @Prop({ type: Number, required: false, default: 666 }) protected debounceTime!: number | undefined;

  @Prop({ type: Boolean, required: false, default: false }) protected readonly!: boolean;

  @Prop({
    type: Object,
    required: false,
    default: () => {
      return {
        number: {},
        text: {},
        show: {},
        icons: {},
        validate: false,
        auto: true
      };
    },
  }) protected options!: {
    number: any, text: any, show: any, icons: any, validate: boolean | null, auto: boolean | null
  };

  // @PropSync('disabled', { type: Boolean, required: false, default: false }) private disabledProp!: boolean;
  // @PropSync('inputType', { type: String, required: false, default: 'text' }) private inputTypeProp!: string;
  // @PropSync('value', { type: String, required: false }) private valueProp!: string | number;

  // @PropSync('placeholder', { type: String, required: false }) private placeholderProp!: string;

  // @PropSync('clientErrorMsg', { type: String, required: false, default: '' }) private clientErrorMsgProp!: string | null;

  // @PropSync('debounceTime', { type: Number, required: false, default: 666 }) private debounceTimeProp!: number | undefined;

  // @PropSync('readonly', { type: Boolean, required: false, default: false }) private readonlyProp!: boolean;

  // @PropSync('config', {
  //   type: Object,
  //   required: false,
  //   default: () => {
  //     return {
  //       number: {},
  //       text: {},
  //     };
  //   },
  // }) private options!: {
  //   number: any, text: any,
  // };

  protected innerValue!: string;

  protected id!: string;
  protected placeholderPrefix!: string;

  protected inputElement!: HTMLInputElement | null;
  protected placeholderElement!: HTMLSpanElement | null;

  protected isInvalid!: boolean | null;
  protected errorMsg!: string | null;

  protected showInputPlaceholder!: boolean;
  protected needsEllipsis: boolean = false;

  protected validTextInputTypes!: any;

  protected handleInputChange!: any;


  protected selectedIcon!: string;
  protected selectedIconClass!: string;

  /// COMPONENT DATA / HOOKS ///
  constructor() {
    super();
    // el constructor vale para datos estáticos o que no necesitan reactividad
    this.placeholderPrefix = 'placeholder-';
    this.id = this.randomStr(20, 'PruebasAlex123');
    this.inputElement = null;
    this.validTextInputTypes = ['text', 'number'];
  }

  // 'data' es necesario para mantener la reactividad de las propiedades de un componente Vue
  protected data() {
    return {
      // TODO: mover a prop
      showInputPlaceholder: true,
      innerValue: null,
      isInvalid: null,
      errorMsg: null,
      selectedIcon: '',
      selectedIconClass: '',
      needsEllipsis: false
    };
  }
  /// HOOKS ///

  protected created() {
    // ñññññapita para evitar tontadas de tipos de variable
    this.innerValue = typeof this.value === 'number' ? '' + this.value : this.value;
    if (!this.innerValue) {
      this.showInputPlaceholder = true;
    } else {
      this.showInputPlaceholder = false;
    }

    this.handleInputChange = debounce((isValid: boolean) => {
      if (isValid) {
        this.isInvalid = false;
        if (this.inputType === 'number' && this.innerValue) {
          this.emitInputValue(this.innerValue);
        } else if (this.inputType === 'text') {
          this.emitInputValue(this.innerValue);
        }

        if (this.innerValue) {
          this.selectedIcon = this.options.icons.success.name;
          this.selectedIconClass = this.options.icons.success.customClass;
        }
      } else {
        this.isInvalid = true;
        // TODO: añadir condicion para ver cuando queremos mostrar texto propio o del navegador
        this.errorMsg = !this.clientErrorMsg ? this.inputElement && this.inputElement.validationMessage : this.clientErrorMsg;
        this.selectedIcon = this.options.icons.error.name;
        this.selectedIconClass = this.options.icons.error.customClass;
      }
    }, this.debounceTime);
  }

  protected mounted() {
    // una vez el componente está montado, almacenamos el input como propiedad del componente
    this.inputElement = document.getElementById(this.id) as HTMLInputElement;
    this.placeholderElement = document.getElementById(this.placeholderPrefix + this.id) as HTMLSpanElement;

    // una vez el componente está preparado, medimos el tamaño del placeholder
    this.checkPlaceholderSize();
  }

  /// METHODS ///

  protected checkPlaceholderSize() {
    const text = this.placeholderElement && this.placeholderElement.firstElementChild && this.placeholderElement.firstElementChild.textContent;
    const el = document.createElement('span');
    el.style.display = 'inline';
    el.style.overflow = 'unset';
    el.textContent = text;
    document.body.appendChild(el);
    // TODO: permitir que la clase overflow-text venga por parametro?
    if (this.placeholderElement && el.offsetWidth > this.placeholderElement.scrollWidth) {
      this.needsEllipsis = true;
    }
    document.body.removeChild(el);
  }

  protected getInputChange($event: InputEvent) {
    /* checkeamos si el input es 'válido', si cumple el 'pattern', si no sobrepasa los 'max' o 'min'..., si el 'step' del input es valido... */
    // seteamos 'null' este valor para quitar el color del input valido/invalido
    this.isInvalid = null;
    this.selectedIcon = '';
    let isValid = true;
    if (this.options.validate) {
       isValid = this.inputElement ? this.inputElement.checkValidity() : false;
    }
    // TODO: controlar las validaciones, y mostrar mensaje de error
    this.handleInputChange(isValid);
  }

  protected emitInputValue(val: string) {
    // este valor 'emitido' es siempre un 'string'
    this.$emit('inputUpdated', val);
  }

  protected hidePlaceholder($event: MouseEvent) {
    this.showInputPlaceholder = false;
    if (this.validTextInputTypes.includes(this.inputType)) {

      if (this.inputElement) {
        this.inputElement.focus();
      }
    } else {
      console.info('no deberia pasar por aqui');
      // este input no permite usar esta funcionalidad
      return;
    }

  }
   protected showPlaceholder($event: Event) {
    if (!this.innerValue) {
      this.showInputPlaceholder = true;
    } else if (this.options.auto) {
      // TODO: VER SI DE VERDAD QUEREMOS ESTA FUNCIONALIDAD
      // que cojones es esto?????????????????
      /* null as unknown as InputEvent */
      // eso de arriba sirve para no tener que poner en los metodos -> x: boolean | null
      // la ! de aqui abajo le dice a typescript que no se caliente, que lo tenemos bajo control
      this.getInputChange(null!);
    }
  }

  protected checkCharacterValidity($event: KeyboardEvent) {
    const key = $event.key;
    if (key !== ',' && isNaN(parseInt(key, 10))) {
      $event.preventDefault();
    }
  }

  // UTILS

  protected randomStr(len: number, arr: string) {
    let ans = '';
    let i = len;
    for (; i > 0; i--) {
      ans += arr[Math.floor(Math.random() * arr.length)];
    }
    return ans;
  }

}


// v0.1 -> input type text con todos los valores posibles --- WIP 99%
// v0.2 -> input type number con todos los valores posibles --- WIP 90%
// v1.0 -> permite emitir los valores resultantes de la actualizacion del input lanzando un evento como puede ser un 'blur' o 'keydown.enter'




////////// DETALLES CustomInput

/*

- si le pasas :value="''" saldrá amarillo -> 'clean'


*/
</script>
<style lang="scss" scoped>
  @import './../../assets/styles/custom/input.scss';
</style>