<template>
  <div class="prueba-2"> 
      <h1>prueba-2Component</h1>
  </div>
</template>
<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  @Component({})
  export default class Prueba2Component extends Vue {

    private mounted() {
      console.log('hello from app');
    }
  }

</script>

<style scoped lang="scss">
  .prueba-2 {
    color: red;
  }
</style>
