<template>
  <div :class="['loader__container', !loaderActive && 'hidden']">
      <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
        <circle class="circle" cx="170" cy="170" r="160"/>
        <circle class="circle" cx="170" cy="170" r="135"/>
        <circle class="circle" cx="170" cy="170" r="110"/>
        <circle class="circle" cx="170" cy="170" r="85"/>
      </svg>
    </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

import {
  State,
  Getter,
  Action,
  Mutation,
  namespace
} from 'vuex-class';

@Component
export default class Spinner extends Vue {
  /// DECLARATIONS / PROPS / PROVIDE ///
  @Prop({ type: Boolean, required: true, default: false }) protected readonly loaderActive!: boolean;
  /// COMPONENT DATA ///
  constructor() {
    super();
  }

  protected data() {
    return {
    };
  }
  /// HOOKS ///

  // protected mounted() {}
}
</script>