<template>
  <div class="about">
    <h1>Hijo que emite</h1>

    <h4>Hijo{{data.msg}}</h4>
    <button @click="startEvent()">
      Emite
    </button>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Provide, Emit } from 'vue-property-decorator';

@Component
export default class EmitComponent extends Vue {
  @Provide() protected data = {
    msg: ', ¿que tal?',
  };
  @Provide() protected count = 0;

  /////// para que los eventos envien un valor, debemos tipar su salida, por defecto son todos `void`!!
  @Emit('eventSent')
  protected emitEvent(): number {
    return this.count;
  }

  protected startEvent(): void {
    this.count++;
    this.emitEvent();
  }
}
</script>