<template>
  <div class="about">
    <h1>{{innerMsg}}</h1>
    <h2>{{outerMsg}}</h2>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Provide } from 'vue-property-decorator';

@Component
export default class PropsComponent extends Vue {
  @Provide() private innerMsg = 'mensaje interno!!';

  @Prop([String]) private readonly outerMsg!: string;
}
</script>