<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- metatags START -->
    <meta name="keywords">
    <meta name="description">

    <meta property="og:description">
    <meta property="og:type" content="website">
    <meta property="og:title">
    <meta property="og:image">
    <meta property="og:image:alt"> <!-- max: 120 chars -->
    <meta property="og:locale">
    <meta property="og:url">

    <meta name="twitter:card">
    <meta name="twitter:site">
    <meta name="twitter:creator">
    <meta name="twitter:url">
    <meta name="twitter:title">
    <meta name="twitter:description"> <!-- max: 200 chars -->
    <meta name="twitter:image">
    <meta name="twitter:image:alt"> <!-- max: 420 chars -->

    <meta itemprop="name">
    <meta itemprop="image">
    <meta itemprop="description">

    <link rel="canonical">
    <!-- metatags END -->
    <title></title>
  </head>
  <body>
    <noscript>
      <strong>
        We're sorry but prueba doesn't work properly without JavaScript enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
