<template>
  <div class="about">
    <spinner :loaderActive="loaderActive"></spinner>
    <div v-if="!loaderActive">
      <button @click="showLoader()"> LOADER </button>
      <h1>This is an about page</h1>

      <h4>{{providedData.n}} - {{providedData.msg}}</h4>

      <div v-if="isMounted">`mounted()` hook called</div>

      <div>{{enConstructor}}</div>

      <emit-component @eventSent="getEvent"></emit-component>

      <props-component :outer-msg="outerMsg" />

      <with-mixins-component />

      <div v-if="axiosMsg">
        Mensaje GET axios: {{axiosMsg}}
      </div>

      <div>
        <h3>USO DEL STORE</h3>
        Prueba getter: {{pruebaGetter}}
      </div>

      <hr>
      <h2>Currency filter</h2>
      <p>-1234 -> {{ -1234 | currency('EUR') }}</p>
      <p>1234 -> {{ 1234 | currency('EUR') }}</p>
      <p>1234.00 (igual que el anterior) -> {{ 1234.00 | currency('EUR') }}</p>
      <p>1234.009 -> {{ 1234.009 | currency('EUR') }}</p>
      <p>1234.099 -> {{ 1234.099 | currency('EUR') }}</p>
      <p>1234.56 -> {{ 1234.56 | currency('EUR') }}</p>
      <p>1234567.89 -> {{ 1234567.89 | currency('EUR') }}</p>
      <p>'1234567.89' -> {{ '1234567.89' | currency('EUR') }}</p>
      <p>'1234.56' -> {{ '1234.56' | currency('EUR') }}</p>
      <p>'1,234.56' -> {{ '1,234.56' | currency('EUR') }}</p>
      <p>'1,234,567.89' -> {{ '1,234,567.89' | currency('EUR') }}</p>
      <p>1234.56, USD -> {{ 1234.56 | currency('USD') }}</p>
      <p>1234567.89, USD -> {{ 1234567.89 | currency('USD') }}</p>
      <p>'1234567.89', USD -> {{ '1234567.89' | currency('USD') }}</p>
      <p>'1234.56', USD -> {{ '1234.56' | currency('USD') }}</p>
      <p>'1,234.56', USD -> {{ '1,234.56' | currency('USD') }}</p>
      <p>'1,234,567.89', 'USD' ->{{ '1,234,567.89' | currency('USD') }}</p>
      <p>'1,234,567.890123', 'USD' ->{{ '1,234,567.890123' | currency('USD') }}</p>
      <p>'1,234,567.890123' ->{{ '1,234,567.890123' | currency('EUR') }}</p>
      <p>'1.234.567,890123' ->{{ '1.234.567,890123' | currency('EUR') }}</p>
      <p>'-1.234.567,890123' ->{{ '-1.234.567,890123' | currency('EUR') }}</p>
      <p>'-1,234,567.890123', 'USD' ->{{ '-1,234,567.890123' | currency('USD') }}</p>
      <p>'prueba' ->{{ 'prueba' | currency('EUR') }}</p>
      <p>'-1.234.567,890123' sin usar puntos y comas ->
        {{ '-1.234.567,890123' | currency('EUR', {integer: false, decimal: false, space: true}) }}
      </p>
      <p>'1,234,567.890123', 'USD' ->
        {{ '1,234,567.890123' | currency('USD', {integer: false, decimal: false, space: true}) }}
      </p>

      <hr>

      <!-- <h2>type = "text"</h2>
      <custom-input
      :placeholder="'texto placeholder input'"
      :clientErrorMsg="'con que esas tenemos eh...'"
      :options="inputConfig"
      @inputUpdated="handleValueChange"/>

      <custom-input
      :placeholder="'texto placeholder input'"
      :clientErrorMsg="'con que esas tenemos eh...'"
      :options="inputConfig"
      readonly
      :value="'hola, soy readonly'"
      @inputUpdated="handleValueChange"/>

      <hr>  -->

      <!-- <h2>type = "number</h2>

      <custom-input
      :inputType="'number'"
      :placeholder="'texto placeholder number'"
      :value="''"
      :options="inputConfig"
      @inputUpdated="handleValueChange"/> -->

      <!-- <h2>type = "text" sin validacion</h2>
      <custom-input
      :placeholder="'texto placeholder input con validacion para probar tambien elipsis'"
      :options="inputConfigSinValidar"
      @inputUpdated="handleValueChange"/> -->

      <h2>type = "text" con validacion</h2>
      <custom-input
      :placeholder="'texto placeholder input con validacion para probar tambien elipsis'"
      :options="inputConfigSinValidar"
      :value="''"
      @inputUpdated="handleValueChange"/>


      <h2>type = "password" con validacion</h2>
      <custom-pass-input
      :placeholder="'texto placeholder input con validacion para probar tambien elipsis'"
      :options="inputConfig"
      @inputUpdated="handleValueChange"/>


      <h2>type = "password" con validacion onblur</h2>
      <custom-pass-input
      :placeholder="'texto placeholder input con validacion para probar tambien elipsis'"
      :options="inputConfigSinValidar"
      @inputUpdated="handleValueChange"/>

      <div v-if="isMounted" class="datepicker__container">
        <!-- https://github.com/mathieustan/vue-datepicker + https://github.com/brockpetrie/vue-moment#readme -->
        <div class="col-9">
          DatePicker
        </div>
        <div class="col-3">
          <vue-date-picker
            v-bind="DP"
            v-model="DP.value"
            @onOpen="DPonOpen"
            @onDestroy="DPonDestroy"
            @onClose="DPonClose"
            @onChange="DPonChange"
          ></vue-date-picker>
        </div>
        <div class="col-12">
          {{DP.value}},
          <span v-if="DP.value.start || DP.value.end">
            {{DP.value.start | moment('DD/MM/YYYY, HH:mm:ss')}} --- 
            {{DP.value.end | moment('DD/MM/YYYY, HH:mm:ss')}}
          </span>
        </div>
      </div>
    </div>
    

  </div>
</template>

<script lang="ts">
import { Component, Vue, Provide } from 'vue-property-decorator';

import {
  State,
  Getter,
  Action,
  Mutation,
  namespace
} from 'vuex-class';

import EmitComponent from '@/components/emit/EmitComponent.vue';

import PropsComponent from '@/components/props/PropsComponent.vue';

import CustomInput from '@/components/custom/CustomInput.vue';

import CustomPassInput from '@/components/custom/CustomPassInput.vue';

import Spinner from '@/components/custom/spinner.vue';

import WithMixinsComponent from '@/components/with-mixins/WithMixinsComponent.vue';
import { AxiosResponse } from 'axios';

@Component({
  components: {
    EmitComponent,
    PropsComponent,
    WithMixinsComponent,
    CustomInput,
    CustomPassInput,
    Spinner
  },
})
export default class HelloWorld extends Vue {
  /// DECLARATIONS / PROPS / PROVIDE ///
  @Provide() protected providedData = {
    msg: 'Hola',
    n: 0,
  };

  // al no haberlo declarado en un `constructor()` necesitamos la `!`
  private isMounted!: boolean;
  private axiosMsg!: string;
  private axiosResponse!: AxiosResponse;

  private enConstructor: string;
  private inputConfig: any;
  private inputConfigSinValidar: any;

  private DP!: any;

  private loaderActive: boolean;

  // https://github.com/ktsn/vuex-class
  @Getter('pruebaGetter') private pruebaGetter!: string;

  /// COMPONENT DATA ///
  constructor() {
    super();
    this.loaderActive = true;
    this.enConstructor = 'hola, declarado en constructor';
    this.inputConfigSinValidar = {};
    const baseConfig = {
      text: {
        maxlength: 100,
        minlength: 0,
        spellcheck: true,
        pattern: '^[A-Za-z0-8]+$',
      },
      number: {
        min: 10,
        max: 100,
        step: 0.01,
      },
      show: {
        error: true,
        success: true,
        clean: true,
        icons: true
      },
      icons: {
        success: {
          name: 'check',
          customClass: 'custom-icon custom-icon--success'
        },
        error: {
          name: 'skull-crossbones',
          customClass: 'custom-icon custom-icon--error'
        }
      },
      validate: true
    };
    this.inputConfig = {
      text: {
        maxlength: 15,
        minlength: 4,
        spellcheck: true,
        pattern: '^[A-Za-z0-8]+$',
      },
      number: {
        min: 10,
        max: 100,
        step: 0.01,
      },
      show: {
        error: true,
        success: true,
        clean: true,
        icons: true
      },
      icons: {
        success: {
          name: 'check',
          customClass: 'custom-icon custom-icon--success'
        },
        error: {
          name: 'skull-crossbones',
          customClass: 'custom-icon custom-icon--error'
        }
      },
      validate: true,
      auto: false
    };
    this.inputConfigSinValidar = { ...this.inputConfig };
    // this.inputConfigSinValidar.validate = false;
    this.inputConfigSinValidar.auto = true;
  }
  /////// lo que se setea en data, no es necesario declararlo como propiedades de este componente (como las variables que se inicializan en el constructor)
  /////// no es necesario setear estas variables en el componente, puesto que no las vamos a tratar, solo pintamos en el template
  protected data() {
    const today = new Date();
    const minDate = new Date(today);
    minDate.setMonth(today.getMonth() - 1);
    minDate.setDate(today.getDate() - 15);
    const maxDate = new Date(today);
    maxDate.setMonth(today.getMonth() + 1);
    // TODO: mover a utils, podemos sacar todos los valores que queramos de la fecha
    const [ day, month, year ] = [today.getDate(), today.getMonth(), today.getFullYear()];
    return {
      outerMsg: 'aún podemos usar la funcion `data()` para esto!!!',
      isMounted: false,
      axiosMsg: '',
      DP: {
        value: today,
        id: 'custom-datepicker',
        name: 'custom-datepicker',
        validate: true, // si validate: false, se cierra el input nada mas seleccionar fecha
        buttonValidate: 'Aceptar',
        buttonCancel: 'Cancelar',
        format: 'DD/MM/YYYY',
        formatHeader: 'dddd DD [de] MMMM',
        placeholder: this.$moment(today).format('DD/MM/YYYY'),
        visible: false,
        disabled: false,
        color: 'rgb(19, 192, 133)',
        noHeader: false,
        noInput: false,
        noCalendarIcon: false,
        fullScreenMobile: true,
        minDate: today,
        maxDate,
        locale: {
          lang: 'es',
          // weekDays : ['1','2','3','4','5','6','7']
        },
        inline: false,
        fixed: false,
        attachTo: '#app',
        type: 'date',
        range: true,
        rangeInputText: '%d ~ %d',
        rangeHeaderText: 'De %d a %d',
        rangePresets: [],
        tabindex: 0,
        rtl: false,
        zIndex: 1000,
        showLoader: this.showLoader
      },
    };
  }
  /// HOOKS ///

  protected mounted() {
    // asi podemos cambiar el locale en cualquer parte de la aplicacion
    // this.$moment.locale('es');

    // emitimos eventos de cambio a App component
    // como AppComponent siempre va a ser la ruta padre y las demas visualizaciones se van
    // a hacer en un nivel inferior, podemos emitir eventos al componente padre sabiendo
    // que los recogerá AppComponent
    this.$parent.$emit('prueba', {
      title: 'About'
    });
    //
    this.isMounted = true;
    this.enConstructor += ', actualizado en mounted';

    // probamos axios con vue-axios
    this.axios.get('https://jsonplaceholder.typicode.com/todos/1')
      .then((res) => {
        this.axiosResponse = res;
        this.axiosMsg = JSON.stringify(res.data);
      });
    this.removeLoader();
  }

  protected beforeRouteEnter(to: any, from: any, next: any) {
    // este hook, permite usar 'guards' frente a rutas que necesiten autentificacion

    // console.log(to)
    // console.log(from)
    next();
  }
  /// METHODS ///
  private getEvent(val: number) {
    this.providedData.n = val;
  }

  private handleValueChange(value: any) {
    // TODO: implementar
    console.log(+ new Date(), value);
  }

  private removeLoader() {
     setTimeout(() => {
      this.loaderActive = false;
    }, 1234 * (Math.random() * 5 + 1));
  }

  private showLoader() {
    // const el = document.querySelector('.loader__container');
    // if (el) {
    //   const cl = el.classList;
    //   if (cl.contains('hidden')) {
    //     cl.remove('hidden');
    //   } else {
    //     cl.add('hidden');
    //   }
    // }
    this.loaderActive = !this.loaderActive;
    if (this.loaderActive) {
      this.removeLoader();
    }
  }

  private DPonOpen() {
    // puede servir para controlar estados de otro componente, este metodo no tiene argumentos
    console.warn('\nonOpen\n');
  }
  private DPonClose() {
    console.warn('\nonClose\n');
  }
  private DPonChange() {
    // este metodo se invoca al seleccionar las dos fechas (en el caso de range: true)
    console.warn('\nonChange\n');
  }
  private DPonDestroy() {
    console.warn('\nonDestroy\n');
  }
}
</script>
<style lang="scss">
.datepicker__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  background: rgb(192, 45, 19);
  margin-bottom: 1rem;
}
#custom-datepicker {
  background: rgba(212, 233, 255, .6);
}
@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 calc(100% / 12 * #{$i});
  }
}
</style>
