<template>
  <div ref="map-container" id="map-container">
    <l-map ref="mapa" v-if="center && zoom" :zoom="zoom" :max-zoom="20" :min-zoom="4" :center="center" @scroll.passive="handleResizeEvents()" @zoomend="handleResizeEvents($event)" @dragend="handleResizeEvents()">
      <l-icondefault></l-icondefault>
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>

      <!-- <l-marker v-if="currentPosition" :iconSize="[40, 40]" :lat-lng="currentPosition" :className="'user-marker user-marker--current'">
        <l-popup>
          <div>
            I am a popup
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
              sed pretium nisl, ut sagittis sapien. Sed vel sollicitudin nisi.
              Donec finibus semper metus id malesuada.
            </p>
          </div>
        </l-popup>
      </l-marker> -->
      <!-- :options-style="styleFunction" -->
      <!-- (23/09/2019) -> funcionando!!! comantamos para probar marker cluster -->
      <!-- :geojson="markers" -->
      <!-- <l-geo-json
        v-if="markersLoaded"
        :geojson="markers"
        :options="options"
        
      /> -->
        <l-marker v-for="l in c2" :key="l.id" :lat-lng="l.latlng" :icon="{iconUrl: l.icon}">
          <l-popup :content="l.text"></l-popup>
        </l-marker>
        <!-- <l-marker v-for="l in clusterItems" :key="l.id" :lat-lng="l.latlng" :icon="{iconUrl: l.icon}">
          <l-popup :content="l.text"></l-popup>
        </l-marker> -->

      <!-- <l-marker v-for="(marker, index) in markers" :key="index" :lat-lng="marker.position">
        <l-popup>
          <div>
            <h3>{{marker.name}}</h3>
            <p>{{marker.description}}</p>
          </div>
        </l-popup>
      </l-marker> -->

      <!-- TODO: no está funcionando el cluster... -->
         <!-- <l-marker v-for="l in clusterItems" :key="l.id" :lat-lng="l.latlng" :icon="{iconUrl: l.icon}">
          <l-popup :content="l.text"></l-popup>
        </l-marker> -->
      <!-- <l-marker :lat-lng="[-3.6315393447875977, 40.5445587632213]"></l-marker> -->
      <!-- v-if="clusterItems.length" -->
      <!-- <l-marker-cluster class="prueba marker-cluster" id="prueba" ref="clusterRef" :options="clusterOptions">
        <l-marker
          :lat-lng="[-3.6315493447875977, 40.5445687632213]" :icon="pruebaIcon"
        />
        <l-marker
          :lat-lng="[-3.6315493447875977, 40.5445487632213]" :icon="pruebaIcon"
        />
      </l-marker-cluster> -->
      <!-- (26/09/2019) esto funciona -->
      <!-- <l-marker-cluster id="xxxxx">
        <l-marker
          :lat-lng="[59.94729558555478, 30.411314964294437]" :icon="pruebaIcon"
        />
        <l-marker
          :lat-lng="[59.9337277687683, 30.357758563477553]" :icon="pruebaIcon"
        />
      </l-marker-cluster> -->
      <!-- v-if="clusterItems.length" -->
      <!-- <l-marker-cluster id="xxxxx-1" ref="cluster-1"> -->
        
        <!-- custom dynamic markers -> hay que meterlos dinamicamente -->
        <!-- <l-marker v-for="l in clusterItems" :key="l.id" :lat-lng="l.latlng" :icon="{iconUrl: l.icon}">
          <l-popup :content="l.text"></l-popup>
        </l-marker> -->
      <!-- </l-marker-cluster> -->
      <!-- <l-marker v-for="l in clusterItems" :key="l.id" :lat-lng="l.latlng" :icon="{iconUrl: l.icon}">
          <l-popup :content="l.text"></l-popup>
        </l-marker> -->
       
    </l-map>
    <div>{{currentUser.currentPosition}}<br>{{zoom}}</div>
    <fa-icon ref="map-location-icon" :icon="geoIcon"></fa-icon>
  </div>

  <!-- 
    markers base
    <l-marker
          :lat-lng="[40.54354780223874, -3.6474609374999996]" :icon="pruebaIcon"
        />
        <l-marker
          :lat-lng="[40.54353780223874, -3.6474509374999996]" :icon="pruebaIcon"
        /> -->
</template>




<script lang="ts">
import { Component, Vue, Watch, Ref } from 'vue-property-decorator';

import { latLng, LatLng, Marker } from 'leaflet';
import { LMap } from 'vue2-leaflet';

import { MarkerCluster, MarkerClusterGroup } from 'leaflet.markercluster';

@Component
export default class MapView extends Vue {
  @Ref('map-container') private mapContainer!: HTMLElement;
  @Ref('map-location-icon') private icon!: HTMLElement | any;
  /// DECLARATIONS / PROPS / PROVIDE ///

  // private center!: any;
  // private zoom!: number;
  // private geolocPosition!: any;
  // private rotation!: number;

  // private geoloc!: {position: any};
  // private position!: any;
  // private position2!: any;
  // TODO: estaría muy bien tipar las variables basicas al menos, objetos no hace falta
  private currentUser!: any;

  private map!: any;
  private mapElement!: any;
  private mapHTMLElement!: any;
  private currentPosition!: any;
  private center!: any;
  private zoom: any;

  private markers!: any;
  private markersLoaded!: boolean;
  private clusterItems!: any;
  private clusterOptions!: any;
  private clusterVueElement!: any; // cluster-marker

  private options!: any;

  private enableHighAccuracy!: boolean;

  private currentUserMarker!: L.Marker; // Marker

  private geoIcon!: string;

  private pruebaIcon: any;

  private c2: any;


  /// COMPONENT DATA ///
  constructor() {
    super();
  }

  protected data() {
    return {
      // refs -> da error, puesto que se convierten en una computed
      // icon: null,
      // mapContainer: null,
      // a esta pantalla llegarian los datos del user cargados
      currentUser: {
        icon: `https://picsum.photos/id/1084/100`,
        currentPosition: null
      },
      map: null,
      zoom: 13,
      center: latLng(0, 0),
      // url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      marker: latLng(47.413220, -1.219482),
      mapElement: null,
      mapHTMLElement: null,
      currentPosition: null,
      markers: null,
      markersLoaded: false,
      options: null,
      enableHighAccuracy: true,
      geoBtnText: 'Geolocalización (alta fidelidad)',
      geoIcon: 'map-marker-alt',
      clusterRef: null,
      clusterVueElement: null,
      clusterItems: [],
      clusterOptions: {
        animate: true,
        disableClusteringAtZoom: 13,
        spiderfyOnMaxZoom: true,
        showCoverageOnHover: true,
        zoomToBoundsOnClick: true,
        clusterPane: 'markerPane',
        // iconCreateFunction: (cluster: any) => {debugger;L.divIcon({
        //   html: '<b>' + cluster.getChildCount() + '</b>'
        // })},
      },
      // pruebaIcon: `https://picsum.photos/id/237/40/30`,
      pruebaIcon: L.icon({
        iconUrl: 'https://picsum.photos/id/237/40/30',
        // shadowUrl: 'https://picsum.photos/100',
        iconSize:     [25, 25], // width and height of the image in pixels
        shadowSize:   [35, 20], // width, height of optional shadow image
        iconAnchor:   [12, 12], // point of the icon which will correspond to marker's location
        shadowAnchor: [12, 6],  // anchor point of the shadow. should be offset
        popupAnchor:  [0, 0], // point from which the popup should open relative to the iconAnchor
        className: 'xxxxxxxxxx',
      }),
      c2: [],
    };
  }
  // protected computed = {
  //   options: () => {
  //     return {
  //       onEachFeature: this.onEachFeatureFunction
  //     };
  //   }
  // }
  /// HOOKS ///

  protected mounted() {
    const map = this.$refs.mapa;
    if (map) {
      this.map = map;
      this.$nextTick(() => {
        console.log(map);
        // TODO: revisar porque no podemos hacer un cast a 'VueComponent'...
        // this.mapElement = (map as Vue).$el;
        this.mapElement = (map as LMap).mapObject;
        this.mapHTMLElement = (map as Vue).$el;
        // seteamos una clase en el mapa para que tengo un alto
        this.initMapStyles();
        this.initMapButtons();
        // cargamos otros markers
        this.fetchMarkerData();
        // tratamos de geolocalizar
        this.locateUser();
      });
    }
  }
  protected initMapStyles() {
    if (!this.mapHTMLElement) {
      console.error('NO HAY MAPA QUE INICIALIZAR!');
      return;
    }
    this.mapHTMLElement.classList.remove('vue2leaflet-map');
    this.mapHTMLElement.classList.add('l-map');
  }

  protected initMapButtons() {
    const button = document.createElement('button');
    // button.innerText = this.geoBtnText;
    button.id = 'botongps';
    // button.innerText = this.enableHighAccuracy ? 'GPS malo' : 'GPS bueno';
    button.classList.add('boton-prueba');
    button.classList.add('leaflet-control');
    // button.style.backgroundImage = 'url("/assets/icons/")';
    // this.enableHighAccuracy = !this.enableHighAccuracy;
    // TODO: mejorar este flow, permitir primero usar alto gps o no, y luego lanzar la geo
    button.addEventListener('click', this.locateUser);
    // TODO: comprobar que esto funcione
    button.appendChild(this.icon);
    // this.mapElement.getPane('mapPane')
    const controls = document.querySelector('.leaflet-bottom.leaflet-left');
    if (controls) {
      controls.appendChild(button);
    }
  }

  protected fetchMarkerData() {
    // llamada a datos marker
    this.options = {
        // (23/09/2019) con esto rellenamos los markers uno a uno
        // onEachFeature: this.onEachFeatureFunction,
        // pointToLayer: this.createCustomIcon,
        // styleFunction: this.styleFunction
    };
    // peticion a back
    this.markers = {
      type: 'FeatureCollection',
      features: [
        {
          type: 'Feature',
          properties: {
            id: 'marker-' + Math.ceil(Math.random() * 150) + '-' + Math.floor(Math.random() * 1100),
            name: 'hola',
            name2: 'adios',
            icon: `https://picsum.photos/id/591/100`,
          },
          geometry: {
            type: 'Point',
            coordinates: [
              -3.93310546875,
              41.16211393939692
            ]
          }
        },
        {
          type: 'Feature',
          properties: {
            id: 'marker-' + Math.ceil(Math.random() * 150) + '-' + Math.floor(Math.random() * 1100),
            name: 'hola',
            name2: 'adios',
            icon: `https://picsum.photos/id/791/100`,
          },
          geometry: {
            type: 'Point',
            coordinates: [
              -3.6474609374999996,
              40.54354780223874
            ]
          }
        },
        {
          type: 'Feature',
          properties: {
            id: 'marker-' + Math.ceil(Math.random() * 150) + '-' + Math.floor(Math.random() * 1100),
            name: 'hola',
            name2: 'adios',
            icon: `https://picsum.photos/id/870/100`,
          },
          geometry: {
            type: 'Point',
            coordinates: [
              -3.6378049850463867,
              40.538166624134234
            ]
          }
        },
        {
          type: 'Feature',
          properties: {
            id: 'marker-' + Math.ceil(Math.random() * 150) + '-' + Math.floor(Math.random() * 1100),
            name: 'hola',
            name2: 'adios',
            icon: `https://picsum.photos/id/591/100`,
          },
          geometry: {
            type: 'Point',
            coordinates: [
              -3.6277198791503906,
              40.54152583449732
            ]
          }
        },
        {
          type: 'Feature',
          properties: {
            id: 'marker-' + Math.ceil(Math.random() * 150) + '-' + Math.floor(Math.random() * 1100),
            name: 'hola',
            name2: 'adios',
            icon: `https://picsum.photos/id/842/100`,
          },
          geometry: {
            type: 'Point',
            coordinates: [
              -3.6315393447875977,
              40.5445587632213
            ]
          }
        }
      ]
    };
    this.markersLoaded = true;
    // una vez hemos recuperado el total de valores, los metemos en el markercluster (23/09/2019)
    this.populateMarkerCluster(this.markers.features);
  }

  protected locateUser($event?: any) {
    if ($event) {
      $event.stopImmediatePropagation();
      this.enableHighAccuracy = !this.enableHighAccuracy;
      // if (this.enableHighAccuracy) {
      //   $event.currentTarget.innerText = 'GPS malo';
      // } else {
      //   $event.currentTarget.innerText = 'GPS bueno';
      // }
      console.log('high accuracy?', this.enableHighAccuracy);
    }
    // TODO: esto solo funciona con HTTPS, habrá que probar
    // this.mapElement.locate({
    //   watch: true,
    //   setView: true,
    //   enableHighAccuracy: true
    // });
    // while (!this.currentPosition) {
    if (navigator.geolocation) {
      // 1º argumento: successCallback, 2º argumento: errorCallback, forzamos localizacion
      // a lo mejor hasta 3 veces??
      // TODO: añadir boton geolocalizar!!
      if (this.enableHighAccuracy) {
        // console.log('si');
        navigator.geolocation.getCurrentPosition(this.displayLocationInfo, this.fuckUserRestrictions, { enableHighAccuracy: true });
      } else {
        // console.log('no');
        navigator.geolocation.getCurrentPosition(this.displayLocationInfo, this.fuckUserRestrictions);
      }
    }
  }

  protected displayLocationInfo(position: Position, isUserChoice?: string) {
    if (!this.enableHighAccuracy || isUserChoice) {
      this.icon.parentElement.classList.add('dashed');
    } else {
      this.icon.parentElement.classList.remove('dashed');
    }
    console.log(this.enableHighAccuracy ? 'high accuracy' : 'low accuracy', position);
    const coords: [number, number] = [position.coords.latitude, position.coords.longitude];
    this.currentUser.currentPosition = latLng(coords);
    // console.log(this.currentPosition);
    // this.mapElement.setCenter(coords[0], coords[1]);
    // console.log(this.map);

    const center: [number, number] = [position.coords.latitude, position.coords.longitude];
    this.center = latLng(center);
    // this.map.setCenter(this.currentPosition);
    this.map.setZoom(13);


    this.createUserMarker();

    this.handleResizeEvents();
  }

  protected handleResizeEvents($event?: any) {
    // hay una serie de veces que hay que lanzar el _onresize para evitar que no se pinte bien el mapa
    if ($event) {
      const mapZoom = this.mapElement.getZoom();
      // this.zoom = this.mapElement.getZoom();
      if (mapZoom !== this.zoom) {
        // this.clusterVueElement.free
        this.zoom = mapZoom;
        // this.clusterVueElement.freezeAtZoom(true);
        if (this.clusterVueElement) {
          if (mapZoom > this.zoom) {
            this.clusterVueElement.disableClustering();
          } else {
            this.clusterVueElement.enableClustering();
          }
        }
      }
    }
    this.mapElement._onResize();
    // TODO: recuperar si es posible hacer funcionar los clusters...
    if (this.clusterVueElement) {
      this.clusterVueElement.refreshClusters();
    }
  }

  protected populateMarkerCluster(features: any) {
    // si queremos implementar que se quiten los tooltips y tal, con un if en esto
    const clusterItems: L.Marker[] = [];
    this.c2 = [];
    for (const feature of features) {
      feature.properties.icon = L.icon({
        iconUrl: feature.properties.icon,
        // shadowUrl: 'https://picsum.photos/100',
        iconSize:     [25, 25], // width and height of the image in pixels
        shadowSize:   [35, 20], // width, height of optional shadow image
        iconAnchor:   [12, 12], // point of the icon which will correspond to marker's location
        shadowAnchor: [12, 6],  // anchor point of the shadow. should be offset
        popupAnchor:  [0, 0], // point from which the popup should open relative to the iconAnchor
        className: 'user-marker',
      });
      const marker = new L.Marker(latLng(feature.geometry.coordinates), {
        icon: feature.properties.icon
      });
      // marker.options = {
      //   icon: feature.properties.icon,
      //   // id: feature.properties.id,
      // };
      marker.setTooltipContent(feature.properties.id);
      marker.setPopupContent(feature.properties.name + ' ' + feature.properties.name2);
      clusterItems.push(marker);
      this.c2.push({
        icon: feature.properties.icon,
        id: feature.properties.id,
        latLng: latLng(feature.coordinates),
        text: feature.properties.name + ' ' + feature.properties.name2,
      });
    }
    this.clusterItems = this.c2;
    this.clusterItems.addTo(this.mapElement);
    // for (const feature of features) {
    //   clusterItems.push({
    //     latLng: latLng(feature.geometry.coordinates),
    //     id: feature.properties.id,
    //     text: feature.properties.name + ' ' + feature.properties.name2
    //   });
    // }
    // debugger
    // const x = new MarkerClusterGroup(this.clusterOptions);

    // x.addTo(this.mapElement);
    // debugger
    // [/* new L.Layer({pane: 'cluster-pane'}) */],

    // const cluster = new MarkerCluster(this.clusterOptions);
    // const c2 = new L.MarkerCluster({});
    // debugger
    // this.$nextTick(() => {
      // this.clusterVueElement = (this.$refs.clusterRef as any).mapObject;
      // this.clusterVueElement.refreshClusters();

     /*  this.clusterVueElement = (this.$refs['cluster-1'] as any).mapObject;
      for (const attr in this.clusterOptions) {
        if (attr) {
          this.clusterVueElement.options[attr] = this.clusterOptions[attr];
        }
      } */

      // debugger
      // this.clusterItems.forEach((item: any) => {
      //   // debugger
      //   // debugger
      //   const x = this.clusterVueElement;
      //   this.clusterVueElement.addLayer(item);
      //   debugger
      // });
      // const layer = new L.Layer({pane: 'chapas-pane'});
      // const layerGroup = new L.LayerGroup();
      // this.clusterItems = clusterItems;
      // this.clusterItems.forEach((item: any) => {
      //   // this.clusterVueElement.addLayer(item);
      //   item.icon = null;
      //   item.addTo(layerGroup);
      // });

      // // debugger
      // this.clusterVueElement.addLayer(layerGroup);
      // this.clusterVueElement.refreshClusters();
    // });
    // window['x'] = this.clusterVueElement;
    // debugger


    // const x = new MarkerClusterGroup(this.clusterOptions).addLayers(clusterItems);
    // const y = new L.LayerGroup(undefined, x);
    // y.addTo(this.mapElement);
    // debugger
  }

  // en este metodo, 'leaflet' utiliza esta funcion para rellenar markers, creo otra duplicada para rellenar el clustermarker
  protected onEachFeatureFunction(feature: any, marker: any) {
    // si queremos implementar que se quiten los tooltips y tal, con un if en esto
    const templateT = '<div>code:' + feature.properties.name2 + '</div><div>nom: ' + feature.properties.name + '</div>';
    const tooltip = new L.Tooltip({
      permanent: false,
      sticky: true,
      className: feature.properties.id
    }).setContent(templateT);

    marker.bindTooltip(tooltip, {});

    marker.on('popupopen', (m: L.Marker | any) => {
      m.target.closeTooltip();
      m.sourceTarget.closeTooltip();
    });
    const templateP =
    `<div>
      <p><strong>${feature.properties.name}</strong></p>
      <hr>
      <img src="${feature.properties.icon}">
    </div>`;
    const popup = new L.Popup({})
      .setLatLng(feature.geometry.coordinates)
      .setContent(templateP);
    // si esto hay que hacerlo a mano con cada implementacion... pues no mola mucho, pero bueno, es sencillo
    marker.bindPopup(popup, {});
  }

  protected createCustomIcon(feature: any, latlng: any) {
    const myIcon = L.icon({
      iconUrl: feature.properties.icon,
      // shadowUrl: 'https://picsum.photos/100',
      iconSize:     [25, 25], // width and height of the image in pixels
      shadowSize:   [35, 20], // width, height of optional shadow image
      iconAnchor:   [12, 12], // point of the icon which will correspond to marker's location
      shadowAnchor: [12, 6],  // anchor point of the shadow. should be offset
      popupAnchor:  [0, 0], // point from which the popup should open relative to the iconAnchor
      className: 'user-marker',
    });
    return L.marker(latlng, { icon: myIcon });
  }

   protected createUserMarker() {
    const myIcon = L.icon({
      iconUrl: this.currentUser.icon,
      // shadowUrl: 'https://picsum.photos/100',
      iconSize:     [25, 25], // width and height of the image in pixels
      shadowSize:   [35, 20], // width, height of optional shadow image
      iconAnchor:   [12, 12], // point of the icon which will correspond to marker's location
      shadowAnchor: [12, 6],  // anchor point of the shadow. should be offset
      popupAnchor:  [0, 0], // point from which the popup should open relative to the iconAnchor
      className: 'user-marker user-marker--current',
    });
    this.currentUserMarker = L.marker(this.currentUser.currentPosition, { icon: myIcon });
    this.currentUserMarker.on('click', this.clickOnUserMarker);
    this.currentUserMarker.addTo(this.mapElement);
    this.createUserPopup();
  }

  protected createUserPopup() {
    this.currentUser.popup = new L.Popup({});
    this.currentUser.popup
      .setLatLng(this.currentUser.currentPosition)
      .setContent('lorem aujsddk');
      // .addTo(this.mapElement);
  }

  protected clickOnUserMarker() {
    if (!this.currentUser.popup.isOpen()) {
      this.mapElement.openPopup(this.currentUser.popup);
    }
  }

  protected fuckUserRestrictions() {
    console.log(this.enableHighAccuracy ?  'high accuracy' : 'low accuracy');
    // const b = document.getElementById('botongps');
    // if (b) {
    //   b.innerText = 'GPS malo';
    // }
    this.axios.get('https://geoip-db.com/json/')
      .then(({data}: any) => {
        // in your face
        console.log('in your face', data);
        this.displayLocationInfo(({coords: {
          latitude: data.latitude, longitude: data.longitude
          }
        }) as Position, 'FUS');
        // this.currentUser.currentPosition = latLng(res.latitude, res.longitude)
      });
  }

}
</script>

<style lang="scss">
  /* vue2leaflet marker-cluster */
  // @import "~leaflet.markercluster/dist/MarkerCluster.css";
  // @import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

  .l-map {
    height: 500px;
  }

  .user-marker {
    border-radius: 50%;
    border: 2px solid red;
    // en mobile se quitaria esto
    opacity: .6;
    &:hover {
      opacity: 1;
    }
    &--current {
      border: 2px dotted blue;
      opacity: 1;
    }
  }

  .boton-prueba {
    width: 40px;
    height: 40px;
    background: #fff;
    cursor: crosshair;
    z-index: 701;
    content: ' ';
    &.dashed {
      // chustacooorl
      position: relative;
      &:after {
      display: block;
      position: absolute;
      transform: rotate(45deg);
      top: -2px;
      left: -2px;
      content: '+';
      /* border-bottom: 1px solid black; */
      height: 40px;
      width: 40px;
      font-size: 30px;
      opacity: 0.7;
      color: #33ea22;
      line-height: 40px;
      }
    }
  }
  // .fa,.far,.fas,.fal {
    
  // }
</style>
