<template>
  <l-map ref="map" :zoom="zoom" :max-zoom="18" :center="center" class="l-map" @zoomend="fixMarkerOpacity($event)" @scroll.passive="reloadMap()" @dragend="reloadMap($event)" @mouseup="reloadMap()" @update:zoom="reloadMap()">
    <l-icondefault :image-path="iconUrl"></l-icondefault>
    <l-tile-layer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"></l-tile-layer>
    <!-- <l-tile-layer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></l-tile-layer> -->
    <!-- hay que pensar en dejar estos eventos en el propio componente marker cluster -->
    <v-marker-cluster v-if="isLoaded" :options="clusterOptions" @clusterclick="clusterClick($event)">
      <!-- <l-marker v-for="l in locations" :key="l.id" :lat-lng="l.latlng" :icon="l.icon">
        <l-popup :content="l.text"></l-popup>
      </l-marker> -->
      <l-geo-json v-for="(geoJson, index) in geoJsons" :key="index" :geojson="geoJson" :options="geoJsonOptions" />
    </v-marker-cluster>
  </l-map>
</template>

<script lang="ts">
  import { Component, Vue, Watch, Ref } from 'vue-property-decorator';
  import { latLng, Icon, icon } from 'leaflet';
  import { LMap } from 'vue2-leaflet';

  import Vue2LeafletMarkercluster from '@/components/prueba-leaflet/Vue2LeafletMarkerCluster.vue';

  import iconUrl from '@/assets/logo.png';
  import shadowUrl from 'leaflet/dist/images/marker-shadow.png';
  ////////////////////////////// detalles a tener en cuenta
  // 1- si los datos de coordenadas ej: -3.631034563, coinciden en los primeros 3 decimales,
  // se pintan en el mismo 'cluster', el problema es que la funcion con la que los pintamos
  // pone el centro del 'marker' en el centro del 'cluster'
  //  - una opcion es meter todos estos 'markers' que tienen -3.631 como valores comunes de
  //    localizacion y meter todos los datos en un 'cluster'...
  @Component({
    components: {
      'v-marker-cluster': Vue2LeafletMarkercluster
    },
  })
  export default class PruebaLeaflet extends Vue {

    private map!: any;
    private mapElement!: any;
    private center!: any;
    private zoom!: any;
    private mapHTMLElement!: any;
    private clusterOptions!: any;

    private currentUser!: any;
    private currentUserMarker!: L.Marker; // Marker

    private geoJsons!: any;
    private geoJsonOptions!: any;

    private locations!: any;
    private icon!: any;
    // private initialLocation!: any;

    private isLoaded!: boolean;
    private toggleUserPopup!: boolean;

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // VUE PROPS/COMPUTED //////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // VUE DATA ////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////

    protected data() {
      const customicon = icon(Object.assign({},
        Icon.Default.prototype.options,
        {iconUrl, shadowUrl}
      ));

      return {
        currentUser: {
          icon: `https://picsum.photos/id/1084/100`,
          currentPosition: null
        },
        currentUserMarker: null,
        center: latLng(0, 0),
        zoom: 6,
        locations: [],
        icon: customicon,
        clusterOptions: {
          spiderfyOnMaxZoom: true,
          showCoverageOnHover: true,
          spiderfyDistanceMultiplier: 3,
          maxClusterRadius: 40, // default: 80
          chunkInterval: 500,
          chunkDelay: 100,
          // spiderLegPolylineOptions: { weight: 1, color: 'transparent', opacity: 0 },
          // TODO: ver si se quiere mostrar la linea esta
        },
        geoJsonOptions: null,
        mapHTMLElement: null,
        mapElement: null,
        iconUrl, // no creo que sea necesario, no debe ser reactivo
        isLoaded: false,
        geoJsons: null,
        toggleUserPopup: false,
      };
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // VUE HOOKS ///////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////

    protected created() {
      console.info('\ncreated hook\n');
      const vueCtrl = this;
      this.geoJsonOptions = {
        onEachFeature: (feature: any, layer: any) => {
          console.log(feature, feature.geometry.coordinates);
          layer.getLatLng = () => latLng(feature.geometry.coordinates);
          layer.setLatLng = () => {
            // type: L.Marker
            (this as any)._latLng = latLng(feature.geometry.coordinates);
          };
          layer._latlng = latLng(feature.geometry.coordinates);
          if (feature.properties && feature.properties.popupContent) {
            const popupOptions = {
              offset: new L.Point(0, 25, true)
              // autoPan: false,
              // autoPanPadding: new L.Point(15, 30, true)
            };
            layer.bindPopup(feature.properties.popupContent, popupOptions);
          }
          if (feature.properties && feature.properties.tooltipContent) {
            const tooltipOptions = {
              direction: 'bottom',
              offset: new L.Point(-3, -15, true)
            };
            layer.bindTooltip(feature.properties.tooltipContent, tooltipOptions);
          }
          // TODO: bindear los eventos necesarios para cada marker

          layer.on('click', vueCtrl.markerClick);
          layer.on('mouseover', vueCtrl.markerMouseEnter);
          layer.on('mouseout', vueCtrl.markerMouseLeave);

          // esto es una tontería, pero resulta interesante
          const events = feature.properties.events;
          const eventsConfig = feature.properties.eventsConfig;
          if (events && eventsConfig) {
            let event;
            for (event in events) {
              if (events[event]) {
                layer.on(event, Function(eventsConfig[event].f)(feature));
              }
            }
          }
        },
        pointToLayer(feature: any, coords: any) {
          return L.marker(coords, {
            icon: L.icon({
              iconUrl: feature.properties.iconImage,
              shadowUrl,
              iconSize:     [32, 32], // tamaño de la imagen del marker
              shadowSize:   [38, 38], // tamaño de la sombra
              // posicion deonde va a aparecer el icono relativa a la localizacion pasada en el valor de 'L.latLng' de cada uno de los 'L.Marker'
              iconAnchor:   [22, 48],
              shadowAnchor: [17, 64],  // posicion shadow
              popupAnchor:  [-3, -60], // posicion relativa donde aparece el popup, si el 'L.Marker' lo tiene
              tooltipAnchor: [40, 50],
              className: feature.properties.className
            }),
          });
        }
      };
    }

    protected mounted() {
      this.locateUser();
      // https://www.mockaroo.com/b05e5800 <- buen generador de puntos aleatorios
      this.$nextTick(() => {
        Promise.all([
          this.axios.get('/json/geo1.json'),
          this.axios.get('/json/geo2.json')
        ]).then((resp: any) => {
          const result = [
            ...resp[0].data,
            ...resp[1].data
          ];
          // dos formas de rellenar los markers, la primera se sobreescribe con las funciones
          // propias de leaflet que hemos sobreescrito en 'geoJsonOptions'
          // this.loadGeoJson(result);
          this.geoJsons = this.mapFeatures(result);
        });

        this.map = this.$refs.map;
        this.mapElement = (this.map as LMap).mapObject;
        this.mapHTMLElement = (this.map as Vue).$el;
        this.initMapStyles();
      });
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // GEOJSON UTILS ///////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////

    private mapFeatures(features: any) {
      let i = 1;
      const result = features.map((feature: any) => {
        feature.properties.className = 'user-marker v-marker ' + feature.geometry.coordinates.toString();
        i++;
        return feature;
      });
      setTimeout(() => {
        this.isLoaded = true;
      }, 50);
      return result;
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // CLUSTER EVENTS //////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////

    private clusterClick(e: any) {
      console.log(e);
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // MAP UTILS ///////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////

    private initMapStyles() {
      if (!this.mapHTMLElement) {
        console.error('NO HAY MAPA QUE INICIALIZAR!');
        return;
      }
      // le quitamos la clase con la que viene por defecto para añadir la nuestra
      this.mapHTMLElement.classList.remove('vue2leaflet-map');
      this.removeMapFocus();
    }

    private reloadMap($event?: any) {
      // TODO: intentando resetear los tiles siempre que podamos
      const target = $event && $event.target;
      const eventType = $event && $event.type;
      const center = target && target.getCenter();
      const zoom = eventType && eventType === 'zoomend' && target && target.getZoom();

      if (zoom) {
        this.zoom = zoom;
      }

      if (center) {
        this.mapElement.setView(center, this.zoom, null);
        // TODO: ver si es necesario hacer una llamada para pintar markers o clusters
      }

      this.mapElement._onResize();

      if (this.mapElement.invalideSize) {
        this.mapElement.invalideSize();
      }
    }

    private removeMapFocus() {
      const leafletElements = document.querySelectorAll('.leaflet-control a, .leaflet-container');
      let len = leafletElements.length;
      while (len--) {
        leafletElements[len].setAttribute('tabindex', '-1');
      }
      const userMarker = (document.querySelector('.user-marker--current') as HTMLElement);
      if (userMarker) {
        userMarker.focus();
      }
    }

    private fixMarkerOpacity($event: any) {
      const markers = document.querySelectorAll('.v-marker');
      markers.forEach((marker: any) => {
        marker.style.opacity = '0.6';
        return marker;
      });
      this.reloadMap($event);
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // USER MARKER CREATION ////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////

    private displayLocationInfo(position: Position, isUserChoice?: string) {
      const coords: [number, number] = [position.coords.latitude, position.coords.longitude];
      this.currentUser.currentPosition = latLng(coords);

      const center: [number, number] = [position.coords.latitude, position.coords.longitude];
      console.log('user position', center);
      this.center = latLng(center);

      // this.map.setZoom(13);
      this.zoom = 13;

      this.createUserMarker();
      const accuracy = position.coords.accuracy && position.coords.accuracy < 5000 ? position.coords.accuracy / 2 : 0;
      new L.Circle(this.center, accuracy).addTo(this.mapElement);

      this.removeMapFocus();
      this.reloadMap();
    }

    private createUserMarker() {

      // si no queremos animaciones, podemos usar el L.icon con una imagen, le podemos pasar
      // tamaños por configuracion

      // const myIcon = L.icon({
      //   iconUrl: this.currentUser.icon,
      //   // shadowUrl: 'https://picsum.photos/100',
      //   iconSize:     [25, 25], // width and height of the image in pixels
      //   shadowSize:   [35, 20], // width, height of optional shadow image
      //   iconAnchor:   [13, 13], // point of the icon which will correspond to marker's location
      //   shadowAnchor: [12, 6],  // anchor point of the shadow. should be offset
      //   popupAnchor:  [0, 0], // point from which the popup should open relative to the iconAnchor
      //   className: 'user-marker user-marker--current',
      // });

      // este L.divIcon tiene animaciones
      const myIcon = L.divIcon({
        html: `<div class="user-marker__image-wrapper">
                 <img src="${this.currentUser.icon}" class="user-marker__image">
               </div>`,
        className: 'user-marker__container',
        iconUrl: this.currentUser.icon,
        // iconAnchor: [30, 30],
        iconSize: [32, 32]
      });

      this.currentUserMarker = L.marker(this.currentUser.currentPosition, { icon: myIcon });
      this.createUserPopup();
      // tendriamos que hacer lo mismo para hacer el bind de un tooltip
      this.currentUserMarker.bindPopup(this.currentUser.popup);
      this.currentUserMarker.addTo(this.mapElement);

    }
    private createUserPopup() {
      this.currentUser.popup = new L.Popup({
        keepInView: true,
        autoClose: false,
        className: 'user-popup',
        offset: new L.Point(2, -8)
      });
      this.currentUser.popup
        .setLatLng(this.currentUser.currentPosition)
        .setContent('lorem aujsddk');
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // MARKER EVENTS ///////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////

    private markerClick($event: any) {
      const marker = $event.target;
      if (marker.isTooltipOpen()) {
        marker.closeTooltip();
      }
    }

    private markerMouseEnter($event: any) {
      const marker = $event.target;
      if (marker.isPopupOpen()) {
        marker.closeTooltip();
      }
      this.fullOpacity($event.originalEvent, marker._shadow);
    }

    private markerMouseLeave($event: any) {
      if (!$event.target.isPopupOpen()) {
        this.removeOpacity($event.originalEvent, $event.target._shadow);
      }
    }

    private fullOpacity(mouseEvent: Event, shadow?: any) {
      if (mouseEvent && mouseEvent.target) {
        (mouseEvent.target as HTMLElement).style.opacity = '1';
      }
      if (shadow) {
        shadow.style.opacity = '1';
      }
    }

    private removeOpacity(mouseEvent: Event, shadow?: any) {
      if (mouseEvent && mouseEvent.target) {
        (mouseEvent.target as HTMLElement).style.opacity = '0.6';
      }
      if (shadow) {
        shadow.style.opacity = '0';
      }
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // USER GEOLOCATION ////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////

    private locateUser($event?: any) {
      if ($event) {
        $event.stopImmediatePropagation();
      }
      // TODO: esto solo funciona con HTTPS, habrá que probar
      // this.mapElement.locate({
      //   watch: true,
      //   setView: true,
      //   enableHighAccuracy: true
      // });
      if (navigator.geolocation) {
        // 1º argumento: successCallback, 2º argumento: errorCallback, forzamos localizacion
        // a lo mejor hasta 3 veces??
        navigator.geolocation.getCurrentPosition(this.displayLocationInfo, this.fuckUserRestrictions, { enableHighAccuracy: true });
      } else {
        console.error('no hay geolocalizacion!');
        alert('NO HAY GEOLOCALIZACION');
      }
    }

    private fuckUserRestrictions() {
      this.axios.get('https://geoip-db.com/json/')
        .then(({data}: any) => {
          // in your face
          console.log('in your face', data);
          this.displayLocationInfo(({coords: {
            latitude: data.latitude, longitude: data.longitude
            }
          }) as Position, 'FUS');
        });
    }
    ////////////////////////////////////////////////////////////////////////////////////////////////
    // OLD CODE (REMOVE) ///////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////

    // private beforeDestroy() {}

    // private loadGeoJson(features: any) {
    //   if (features && features.length) {
    //     let fLen = features.length;
    //     const locations = [];
    //     while (fLen--) {
    //       this.locations = locations;
    //       const { properties, geometry } = features[fLen];
    //       const x = Math.random() * 9999 + 1;
    //       const y = x % 2 ? (x - 1) / 2 + 1 : x + 999;
    //       locations.push({
    //         id: `marker-${x}-${y}`,
    //         latlng: latLng(geometry.coordinates),
    //         text: properties.name,
    //         icon: L.icon({
    //           iconUrl: properties.iconImage,
    //           shadowUrl,
    //           iconSize:     [36, 48], // tamaño de la imagen del marker
    //           shadowSize:   [50, 64], // tamaño de la sombra
    //           iconAnchor:   [22, 94],
    //           // posicion deonde va a aparecer el icono relativa a la localizacion pasada en el valor de 'L.latLng' de cada uno de los 'L.Marker'
    //           shadowAnchor: [17, 64],  // the same for the shadow
    //           popupAnchor:  [-3, -76], // posicion relativa donde aparece el popup, si el 'L.Marker' lo tiene
    //           className: 'user-marker',
    //         }),
    //       });
    //     }
    //   } else {
    //     this.locations = [];
    //   }
    //   this.isLoaded = true;
    // }
  }
</script>

<style lang="scss">
  @import "~leaflet/dist/leaflet.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
  html, body {
    height: 100%;
    margin: 0;
  }
  .l-map {
    height: 500px;
  }
  // transicion básica para el cambio de opacidad en los .v-marker
  .v {
    &-marker {
      transition: all .3s;
    }
  }
  .user {
    &-marker {
      // en mobile se quitaria esto
      opacity: .6;
      &:hover {
        opacity: 1;
      }
      &:not(.leaflet-marker-shadow) {
        border-radius: 50%;
        border: 2px solid red;
      }
      &--current {
        &.user-marker:not(.leaflet-marker-shadow) {
          border: 2px dotted blue;
          opacity: 1;
        }
        border: 2px dotted blue;
        opacity: 1;
      }
      &__image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px dotted blue;
        &-wrapper {
          border-radius: 50%;
          &:hover {
            animation: scale 2s infinite linear;
          }
        }
      }
      &__container {
        border: 0;
        background: transparent;
        border-radius: 50%;
      }
    }
    &-popup {
      &.leaflet-popup {
        &:hover {
          filter: invert(100%);
        }
      }
      & .leaflet-popup {
        &-content-wrapper, &-tip {
          color: green;
          background: black;
        }
      }
    }
  }
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1)
    }
  }
</style>