<template>
  <div class="view-tooltips">
    <span v-tooltip="baseConfig">
      Vacío
    </span>
    <button @click="changeText()"></button>
    <div class="segundo">
      <span v-tooltip="t1">
        T1
      </span>
      <button @click="closeT1()"></button>
    </div>
    <div class="tercero">
      <v-popover offset="16">
        <!-- This will be the popover target (for the events and position) -->
        <button class="tooltip-target b3">Click me</button>

        <!-- This will be the content of the popover -->
        <template slot="popover">
          <input class="tooltip-content" v-model="msg" placeholder="Tooltip content" />
          <p>{{ msg }}</p>
          <!-- You can put other components too -->
          <!-- <ExampleComponent char="=" /> -->
        </template>
      </v-popover>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

// https://github.com/Akryum/v-tooltip
@Component
export default class ViewTooltips extends Vue {
  /// DECLARATIONS / PROPS / PROVIDE ///
  private baseConfig!: any;
  private t1!: any;

  private msg!: string;
  /// COMPONENT DATA ///
  constructor() {
    super();
    this.msg = 'hola!';
  }

  protected data() {
    const baseConfig = {
      // - HTML text to be displayed in the tooltip. Can also be a function that returns the content or a Promise.
      content: 'hola',
      classes: '',
      targetClasses: '', // - CSS classes added to the target element of the tooltip.
      html: true, // - Boolean: allow HTML tooltip content.
      delay: { show: 100, hide: 100 }, // - Show/Hide delay, or object: { show: 500, hide: 100 } (ms).
      placement: 'bottom',
      /* 'auto'
      'auto-start'
      'auto-end'
      'top'
      'top-start'
      'top-end'
      'right'
      'right-start'
      'right-end'
      'bottom'
      'bottom-start'
      'bottom-end'
      'left'
      'left-start'
      'left-end' */
      // - Events triggering the tooltip separated with spaces: 'hover', 'click', 'focus' or
      // manual' ('manual' can't be combined with any other event).
      trigger: 'hover',
      show: false, // - Boolean to manually open or hide the tooltip.
      offset: 0, // - Offset of the position (px).
      container: 'body', // - Selector: Container where the tooltip will be appended (e.g. 'body').
      // boundariesElement - DOM element for the tooltip boundaries. ???
      template: `<div class="tooltip" role="tooltip">
                  <div class="tooltip-arrow"></div>
                  <div class="tooltip-inner"></div>
                </div>`, // - HTML template of the tooltip.
      // arrowSelector - CSS selector to get the arrow element in the tooltip template.
      // innerSelector - CSS selector to get the inner content element in the tooltip template.
      autoHide: true, // - Boolean: automatically close the tooltip on mouseover.
      hideOnTargetClick: true, // - Boolean: automatically close the tooltip on target click.
      // loadingClass - CSS classes added to the tooltip when content is loading.
      // loadingContent - Same as content, used when the actual tooltip content is loading.
      // popperOptions - Other Popper.js options.
    };
    return {
      baseConfig,
      t1: {
        ...baseConfig,
        trigger: 'manual',
        content: 'hola',
        autoHide: false,
        delay: { show: 1000, hide: 1000 },
        show: false,
      },
    };
  }
  /// HOOKS ///

  // protected mounted() {}

  private changeText() {
    this.baseConfig.content = String(
      Math.floor((Math.random() * 109284) + (2 * (189 / (Math.random() * 1234) + 19)))
    );
  }

  private closeT1() {
    this.t1.show = !this.t1.show;
  }
}
</script>

<style lang="scss">
  @import '/../assets/styles/v-tooltip.base.scss';
  .view-tooltips {
    background: rgb(19, 167, 133);
    color: invert(rgb(19, 167, 133));
    height: 100vw;
  }
  .segundo {
    background: rgb(211, 16, 99);
    color: invert(rgb(211, 16, 99));
  }
  .tercero {
    background: rgb(10, 100, 175);
    color: invert(rgb(10, 100, 175));
  }
</style>
