<template>
  <div class="view-progress">
    <h1>Hola que tal?</h1>
    <!-- https://github.com/dreambo8563/easy-circular-progress  -->
    <circular-progress v-bind="ciruclarProgressOptions" :value="circularValue">
      <template v-slot:footer>
        <span>
          solo sirve para mostrar en pantalla, no se actualiza dinamicamente, vuelve a empezar desde 0 y se llena en X
        </span>
      </template>
    </circular-progress>

    <div class="segundo">
      <v-progress-bar v-bind="progressOptions" class="progress-bar"></v-progress-bar>
      <button @click="changeSize()"></button>
      <p>Para cambiar los estilos en :hover,
        lo mejor sería añadir una funcion que hiciese ese juego, porque con clases no se puede</p>
    </div>

    <div class="tercero">
      <!-- v-bind="circleProgressOptions" -->
      <v-progress-circle
      :progress="circleProgressOptions.progress"
      :size="circleProgressOptions.size"
      :reverse="circleProgressOptions.reverse"
      :line="circleProgressOptions.line"
      :thickness="circleProgressOptions.thickness"
      :line-cap="circleProgressOptions['line-cap']"
      :empty-fill="circleProgressOptions['empty-fill']"
      :animation-start-value="circleProgressOptions['animation-start-value']"
      :start-angle="circleProgressOptions['start-angle']"
      :insert-mode="circleProgressOptions['insert-mode']"
      :show-percent="circleProgressOptions['show-percent']"
      @vue-circle-progress="progress"
      @vue-circle-end="progressEnd"
      >
        <p>(Slot) {{circleProgressOptions.progress}}</p>
      </v-progress-circle>
      <button @click="updateProgress()">update</button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
// https://github.com/dreambo8563/easy-circular-progress -> circulo que muestra un valor
import CircularProgress from '../components/vue-circular-progress/VueCircularProgress.vue';
// https://github.com/vrajroham/vue-circle-progress
import VueProgressCircle from 'vue2-circle-progress/src/index.vue';
// https://github.com/dzwillia/vue-simple-progress -> progress bar

@Component({
  components: {
    'circular-progress': CircularProgress,
    'v-progress-circle': VueProgressCircle,
  }
})
export default class HelloWorld extends Vue {
  /// DECLARATIONS / PROPS / PROVIDE ///
  private progressOptionsSizes!: string[];
  private progressOptions!: any;
  private progressOptionsSizesIndex!: number;

  private ciruclarProgressOptions!: any;
  private circularValue!: any;

  private circleProgressOptions!: any;

  private interval!: any;
  private interval2!: any;
  /// COMPONENT DATA ///
  constructor() {
    super();
    this.progressOptionsSizes = [
      'tiny',
      'small',
      'medium',
      'large',
      'huge',
      'massive',
    ];
  }

  protected data() {
    return {
      interval: null,
      ciruclarProgressOptions: {
        // Number default is 4, the width of the progress circle, the bigger the bolder
        strokeWidth: 5,
        // Number	the inner circle radius, default is 38
        radius: 40,
        // Number	default is 1000, transitionDuration for the animation
        transitionDuration: 500,
        // String		default is "#aaff00"
        strokeColor: 'rgb(255, 255, 255)',
        // Number | String		default is 0.0, should be less or equal then 100
        value: 0
      },
      circularValue: 66.66,
      progressOptions: {
        'val': 6.66,
        'max': 100,
        'size': 'medium',
        'bg-color': 'rgb(255, 228, 181)',
        'bar-color': 'rgb(133, 197, 33)',
        'bar-transition': 'all .5s ease-in-out',
        'spacing': 0,
        'text': 'cargando...',
        'text-position': 'middle',
        'font-size': 16,
        'text-fg-color': 'black',
      },
      progressOptionsSizesIndex: 0,
      circleProgressOptions: {
        'progress': 90,
        'size': 100,
        'reverse': false,
        'line-cap': 'round',
        'fill': {
          gradient: ['red', 'orange', 'yellow'],
          gradientAngle: Math.PI / 4,
        },
        'empty-fill': 'rgba(0, 0, 0, .1)',
        'animation-start-value': 0.0,
        'start-angle': 0,
        'insert-mode': 'append', // 'prepend'
        'thickness': 5,
        'show-percent': true,
        'animation': { duration: 12000, easing: 'circleProgressEasing' }
      }
    };
  }
  /// HOOKS ///

  protected mounted() {
    let x = 0;
    this.interval = setInterval(() => {
      if (x < 99.66) {
        x += 0.33;
      } else if (x === 100) {
        x = 0;
      } else {
        x = 100;
      }
      /* this.ciruclarProgressOptions.value =  */
      this.progressOptions.val = parseFloat(x.toFixed(2));
    }, 200);
  }

  protected beforeDestroy() {
    clearInterval(this.interval);
  }

  private changeSize() {
    this.progressOptionsSizesIndex++;
    this.progressOptions.size =
    this.progressOptions.fontSize = this.progressOptionsSizes[this.progressOptionsSizesIndex];
  }

  private progress($event: any, x: any, value: number) {
    console.log('progress', $event);
    this.circleProgressOptions.progress = value;
  }

  private progressEnd() {
    console.log('progress end');
  }

  private updateProgress() {
    this.circleProgressOptions.progress += 10;
  }
}
</script>
<style lang="scss" scoped>
  .view-progress {
    background: rgb(116, 12, 236);
    color: #333;
  }

  .progress-bar {
    z-index: 1000;
    text-align: center; // este valor se debe dar con CSS
    // para que el progress bar se muestre con el texto dentro, debe tener position relative
    // el componente añade un z-index y position absolute si le decimos que el texto
    // esté dentro del progress bar
    position: relative;
    & .vue-simple-progress {
      &-bar {
        border-radius: 50%; // este valor se debe dar con CSS
      }
    }
  }
</style>