<template>
  <div class="about">
    <h1>STORE</h1>

    <div>
      <h3>State (no aconsejable...)</h3>
      <span>Prueba state: {{prueba}}</span>
    </div>


    <div>
      <h3>Getters</h3>
      <span>Prueba getter: {{pruebaGetter}}</span>
    </div>

    <hr>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import {
  State,
  Getter,
  Action,
  Mutation,
  namespace
} from 'vuex-class';

@Component
export default class HelloWorld extends Vue {
  /// DECLARATIONS / PROPS / PROVIDE ///

  // https://github.com/ktsn/vuex-class
  @State('prueba') private prueba!: string;
  @Getter('pruebaGetter') private pruebaGetter!: string;
  @Action('actionPrueba') private actionPrueba!: any;
  @Mutation('pruebaMutation') private pruebaMutation!: any;

  /// COMPONENT DATA ///
  constructor() {
    super();
  }

  protected data() {
    return {
    };
  }
  /// HOOKS ///

  protected mounted() {
    if (this.prueba !== 'HOLAAAA') {
      this.actionPrueba('ADIOOOOS');
      setTimeout(() => {
        alert('despues de este alert el valor de `this.$state.prueba` será "HOLAAAA"');
        this.pruebaMutation('HOLAAAA');
      }, 2000);
    } else {
      this.pruebaMutation('VOLVEMOS A MUTAR');
    }
  }
}
</script>
