
<template>
  <div class="view-general">
    <spinner :loaderActive="isLoading"></spinner>
    <div v-if="!isLoading">
      <p>Hola, son las {{ currentDate | moment('HH:mm [del] DD [de] MMMM [de] YYYY')}}<p>
      <p v-if="endDate && startDate">
        Amanecer: {{ startDate }}.
        Puesta de sol: {{ endDate }}
      </p>
    </div>
    <button @click="toggleTheme()">cambiar tema</button>

    <div class="sprite__container">
      <div class="sprite sprite--prueba" :style="{
        'background-position': `${sprite.positionX}px 0`,
        'margin-left': `${-sprite.positionX}px`
      }"></div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Getter,
  Action
} from 'vuex-class';

import { Component, Vue } from 'vue-property-decorator';

import Spinner from '@/components/custom/spinner.vue';

@Component({
  components: {
    Spinner,
  },
})
export default class ViewGeneral extends Vue {
  /// DECLARATIONS / PROPS / PROVIDE ///
  @Getter('isLoading') private isLoading!: string;
  @Action('actionLoading') private actionLoading!: any;

  @Getter('isDarkmodeActive') private isDarkmodeActive!: string;
  @Action('actionDarkmode') private actionDarkmode!: any;
  // @Mutation('loadingMutation') private loadingMutation!: any;

  private darkMode = true;
  private currentDate!: Date;
  private endDate!: any;
  private startDate!: any;

  private loaderActive!: boolean;

  private sprite!: any;
  /// COMPONENT DATA ///
  constructor() {
    super();
    this.fuckUserRestrictions();
  }

  protected data() {
    return {
      darkMode: this.darkMode,
      currentDate: new Date(),
      endDate: null,
      startDate: null,
      loaderActive: true,
      // constantes sprite
      sprite: {
        width: 75,
        phase: 0,
        active: false,
        interval: null,
        positionX: -10,
        base: {
          phase: 0,
          active: false,
          interval: null,
          positionX: -10,
        }
      }
    };
  }
  /// HOOKS ///

  protected created() {
    // vue no tiene un evento keypress, tenemos que lanzarlo nosotros
    // window.addEventListener('keypress', ($event: KeyboardEvent) => {
    //   debugger
    // })
    // para las flechas tenemos que usar keydown/keyup
    window.addEventListener('keydown', this.checkValidKeys);
    window.addEventListener('keyup', this.checkValidKeys);
    // mostramos spinner (state.loading = true)
    this.actionLoading();
  }

  // protected mounted() {}

  /// METHODS ///
  private toggleTheme() {
    this.actionDarkmode(!this.isDarkmodeActive);
    // TODO: usar el store
  }

  private checkValidKeys($event: KeyboardEvent) {
    const key = $event && $event.which;
    const type = $event && $event.type;

    if (key === 39 && type === 'keydown') {
      // ArrowRight
      this.initSprite(key);
    }/*  else {
      this.initSprite(null);
    } */

    if (type === 'keyup') {
      this.initSprite(null);
    }
    // switch (key) {
    //   // 'ArrowRight'
    //   case 39:
    //     this.initSprite('right');
    //     break;
    //   default:
    //     this.initSpr
    //     break;
    // }
  }

  private initSprite(direction: any) {
    if (direction) {
      this.sprite.active = true;
      if (this.sprite.active) {
        if (!this.sprite.interval) {
          this.sprite.interval = setInterval(() => {
            const sp = this.sprite;
            console.log('fase ' + sp.phase + '\n\npositionX:' + sp.positionX);
            switch (this.sprite.phase) {
              case 0:
              case 1:
              case 2:
                this.sprite.positionX -= 75;
                break;
              case 3:
                this.sprite.positionX -= 71;
                break;
              case 4:
                this.sprite.positionX -= 71;
                break;
              case 5:
                this.sprite.positionX -= 67;
                break;
              default:
                break;
            }
            this.sprite.phase = this.sprite.phase === 5 ? 0 : ++this.sprite.phase;
            if (!this.sprite.phase) {
              this.sprite.positionX = -10;
            }
            // debugger
          }, 100);
        }
      }
    } else {
      clearInterval(this.sprite.interval);
      this.sprite = { ...this.sprite, ...this.sprite.base };
    }
    // while (this.sprite.active) {
    //   if (!this.sprite.interval) {
    //     this.sprite.interval = setInterval(() => {
    //       this.sprite.positionX += 75;
    //       debugger
    //     }, 100)
    //   }
    // }
    // debugger
  }
  // private resetSprite($event: KeyboardEvent) {
  //   debugger
  //   this.sprite.active = false;
  //   clearInterval(this.sprite.interval);
  // }

  private fuckUserRestrictions() {
    const dateType = 'today'; // esto se puede cambiar para ver cualquier otro dia
    this.axios.get('https://geoip-db.com/json/')
      .then(({data}: any) => {
        // in your face
        if (data) {
          this.axios.get(
          `https://api.sunrise-sunset.org/json?lat=${data.latitude}&lng=${data.longitude}&date=${dateType}&formatted=0`
          )
            .then(({data: time}) => {
              const { sunrise, sunset } = time.results;
              // opcion 1 ->
              // this.axios.get(`https://ipapi.co/${data.IPv4}/utc_offset/`) de aqui sacamos el timezoneoffset
              // opcion 2 -> la que voy a usar, la saco de la hora local del cliente
              const currentDate = this.currentDate;
              const currentDateMs = +currentDate;
              // const currentTimezoneOffset = - (currentDate.getTimezoneOffset() / 60);

              let startDate; // date | moment
              let endDate; // date | moment
              if (sunrise) {
                // start = sunrise.split(' ')[0].split(':');
                startDate = new Date(sunrise);
                startDate.setHours(startDate.getHours() /* + currentTimezoneOffset */);
                this.startDate = this.$moment(startDate).format('HH:mm:ss');
                // startDate.setHours(start[0]); // AM
                // startDate.setMinutes(start[1]);
                // startDate.setSeconds(start[2]);
              }
              if (sunset) {
                // end = sunset.split(' ')[0].split(':');
                endDate = new Date(sunset);
                endDate.setHours(endDate.getHours() /* + currentTimezoneOffset */);
                this.endDate = this.$moment(endDate).format('HH:mm:ss');
                // endDate.setHours(end[0] + 12); // PM
                // endDate.setMinutes(end[1]);
                // endDate.setSeconds(end[2]);
              }
              if (startDate && endDate) {
                if (+endDate > currentDateMs && +startDate < currentDateMs) {
                  this.actionDarkmode(false);
                  console.log('darkmode', this.isDarkmodeActive);
                } else {
                  this.actionDarkmode(true);
                }
              }
            })
            .catch(() => {
              // todo: controlar error?
            })
            .finally(() => {
              // ocultamos spinner (state.loading = false)
              this.actionLoading();
            });
        } else {
          console.error('sin datos de geolocalizacion...');
          // ocultamos spinner (state.loading = false)
          this.actionLoading();
        }
      });
  }
  //   this.axios.get(`https://ipapi.co/${data.IPv4}/utc_offset/`)
        //     .then(({data}) => {
        //       const offset = this.mapOffset(data);
        //       const date = new Date();
        //       const UTCDate = Date.UTC(
        //         date.getFullYear(), date.getMonth(), date.getDate(), date.getHours(), date.getMinutes(), date.getSeconds()
        //       );
        //       date.setTime( date.getTime() + date.getTimezoneOffset()*60*1000 );
        //       debugger
        //     });
}



</script>
<style lang="scss">
  // // TODO: mover a color-theme.scss
  // // light
  // $light-color: rgb(12, 12, 12);
  // $light-background: rgb(244, 244, 244);
  // // dark
  // $dark-color: $light-background;
  // $dark-background: $light-color;
  // .view-dmlm {
  //   min-height: calc(100vh - 5rem);
  //   // dark mode/light mode
  //   color: $light-color;
  //   background: $light-background;
  //   &.dark {
  //     color: $dark-color;
  //     background: $dark-background;
  //   }
  //   // añadido
  //   img {
  //    opacity: .75;
  //     transition: opacity .5s ease-in-out;
  //   }
  //   img:hover {
  //     opacity: 1;
  //   }
  // }
</style>