
<template>
  <div class="view-dummy">
    <p v-dummy="150"></p>
    <p v-dummy="1500"></p>

    <dummy img></dummy>
    <dummy img="400x300"></dummy>

    <ol v-dummy></ol> <!-- outputs a small list -->
    <ul v-dummy></ul> <!-- outputs a small list -->
    <table v-dummy></table> <!-- outputs a small table -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import {
  State,
  Getter,
  Action,
  Mutation,
  namespace
} from 'vuex-class';

@Component
export default class ViewDummy extends Vue {
  /// DECLARATIONS / PROPS / PROVIDE ///

  /// COMPONENT DATA ///
  constructor() {
    super();
  }

  protected data() {
    return {
    };
  }
  /// HOOKS ///

  // protected mounted() {}
}
</script>