// light
$light-color: rgb(12, 12, 12);
$light-background: rgb(244, 244, 244);
$light-menu-color: rgb(44, 44, 44);
$light-menu-background: rgb(242, 242, 242);
// dark
$dark-color: $light-background;
$dark-background: $light-color;
$dark-menu-color: $light-menu-background;
$dark-menu-background: $light-menu-color;
.view-dmlm {
  min-height: calc(100vh - 5rem);
  // dark mode/light mode
  color: $light-color;
  background: $light-background;
  &.dark {
    color: $dark-color;
    background: $dark-background;
    #nav {
      color: rgb(242, 242, 242);
      background: rgb(44, 44, 44);
    }
  }
  // añadido
  #nav {
    color: rgb(44, 44, 44);
    background: rgb(242, 242, 242);
  }
  img {
   opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}