// TODO: ver si es necesario que esté scoped el scss
  // variables
  $input_border_width: 2px;
  $input_width: 256px;
  $input_height: 20px;
  // $input_placeholder_padding: 3px;

  $input_calc_width: $input_width + $input_border_width * 2;
  $input_calc_height: $input_height + $input_border_width * 2;

  $icon_width: 20px;
  $icon_height: $icon_width;

  $secondary_font_size: 90%;

  $error_color: #ea4c5d;
  $success_color: #5dea4c;
  $clean_color: #ff9000;

  $input_index: 90;
  $placeholder_index: 100;



  .input {
    &__container {
      width: 100%;
      // TODO: revisar esta chapuza
      max-width: $input_calc_width + ($icon_width * 3/2); // 256px + 32px (icono) -> 1rem = 16px
      position: relative;
      height: 100%;
      min-height: $input_calc_height;
      border-width: $input_border_width;
      // height: $input_calc_height;
    }
    &__wrapper {
      // position: absolute;
      // top: 0;
      width: $input_calc_width;
      z-index: $input_index;
    }
    &__element {
      width: 100%;
      max-width: $input_width;
      line-height: 1.25rem;
      height: $input_height;
      &.invalid {
        border-color: $error_color;
        border-style: solid;
        &:focus {
          outline: $error_color auto 1px;
        }
      }
      &.valid {
        border-color: $success_color;
        border-style: solid;
        &:focus {
          outline: $success_color auto 1px;
        }
      }
      &.clean {
        border-color: $clean_color;
        border-style: solid;
        &:focus {
          outline: $clean_color auto 1px;
        }
      }
      &.readonly {
        background: rgba(0, 0, 0, 0.25);
        color: rgba(0, 0, 0, 0.5)
      }
    }
    &__placeholder {
      display: flex;
      align-items: center;
      position: absolute;
      font-size: $secondary_font_size;
      opacity: .85;
      z-index: $placeholder_index;
      width: 100%;
      height: $input_calc_height + $input_border_width * 2;
      max-width: $input_calc_width;
      top: 0;
      left: 0;
      transition: all .2s;
      text-align: left;
      visibility: visible;
      opacity: 1;
       &.hidden {
        visibility: hidden;
        opacity: 0;
      }
      &-text {
        margin: 0 auto;
        margin-left: .2rem;
        padding-right: .1rem;
      }
    }
    &__icon {
      position: absolute;
      // display: inline-block;
      width: $icon_width;
      height: $icon_height;
      margin-top: .1rem;
      margin-left: .25rem;
      &.valid {
        color: darken($success_color, 20%);
      }
      &.invalid {
        color: darken($error_color, 20%);
      }
    }
    &__info {
      position: relative;
      visibility: visible;
      // padding-top: 1.6rem;
      margin-top: .2rem;
      margin-bottom: .2rem;
      text-align: left;
      font-size: $secondary_font_size;
      color: $error_color;
    }
  }


  //// TODO: mover a styles.scss o a utils.scss
  .overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }