// LOADER //

@keyframes preloader {
  50% {
  transform: rotate(360deg);
  } 
}

.loader {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  &__container {
    z-index: 2000;
    width: 100%;
    height: calc(100vh - 5rem);
    // para que se vea como un buen loader, solo hay que ponerlo relative y
    // a la altura del componente principal, pudiendo ponerse encima del menu por ejemplo
    position: relative;
    background: rgba(255, 167, 0, .2);
    top: 0;
    left: 0;
    &.hidden {
      display: none;
    }
    .circle {
      fill: none;
      stroke-width: 3.5;
      animation-name: preloader;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      transform-origin: 170px 170px;
      will-change: transform;
      &:nth-of-type(1) {
        stroke-dasharray: 550;
      }
      &:nth-of-type(2) {
        stroke-dasharray: 500;
      }
      &:nth-of-type(3) {
        stroke-dasharray: 450;
      }
      &:nth-of-type(4) {
        stroke-dasharray: 300;
      }
      &:nth-child(even) {
        stroke: #E2007C;
      }
      &:nth-child(odd) {
        stroke: #404041;
      }
      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
          animation-delay: #{$i * 0.075}s;
        }
      }
    }
  }
}
// //