.sprite {
  // background-position: 0 0;
  // width: 125px;
  // height: 125px;
  display: inline-block;
  &--prueba {
    background-image: url('/img/sprites/prueba2.png');
    background-position: -10px 0;
    width: 75px;
    height: 125px;
  }
}