<template>
  <div id="app" :class="['view-dmlm', isDarkmodeActive && 'dark']">
    <keep-alive>
      <v-meta id="metatags" ref="metatags"
      :title="title"
      :description="description"
      :keywords="keywords"
      :image="image"
      :lang="lang"
      :ogLocale="ogLocale"
      :url="url"
      />
    </keep-alive>
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/store-tests">Store tests</router-link> |
      <router-link to="/dummy">dummy</router-link> |
      <router-link to="/prueba">Mapa Example.vue</router-link> |
      <router-link to="/tooltip">Tooltip</router-link> |
      <router-link to="/progress">Progress components</router-link> |
      <router-link to="/vista">vista</router-link> |
    </div>
    <router-view/>
  </div>
</template>

<script lang="js">
// // ñapa para probar metatags
// export default {
//   $refs: {},
//   mounted() {
//     // aqui si tenemos this.$refs.metatags
//     (window as any).customVueDeclarations = {};
//     const prueba = (window as any).customVueDeclarations;
//     prueba.metatags = (this.$refs as any).metatags;
//   }
// };
// ñapa para probar metatags
export default {
  data() {
    return {
      title: 'Inicio',
      description: 'Homepage de my app Vue.js + TypeScript',
      keywords: 'Vue.js, Vue, TypeScript',
      image: 'prueba.png',
      lang: 'es-ES',
      ogLocale: 'es_ES',
      url: 'prueba.es',
    };
  },
  mounted() {
    // aqui si tenemos this.$refs.metatags
    window.customVueDeclarations = {};
    window.customVueDeclarations.metatags = this.$refs.metatags;
    // desde las demas vistas se accede de esta manera -> this.$parent.$emit('prueba', {...});
    this.$on('prueba', this.pruebaMetatags);
  },
  methods: {
    pruebaMetatags(metaTagsValue) {
      const {
        title,
        description,
        keywords,
        image,
        lang,
        ogLocale,
        url,
      } = metaTagsValue;
      this.title = title;
      this.description = description;
      this.keywords = keywords;
      this.image = image;
      this.lang = lang;
      this.ogLocale = ogLocale;
      this.url = url;
    }
  },
  computed: {
    isDarkmodeActive() {
      return this.$store.state.darkmode;
    }
  }
};
</script>

<style lang="scss">
@import './assets/styles/index.scss';
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  text-align: center;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
