html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

@import './custom/input.scss';
@import './custom/spinner.scss';
@import './custom/color-mode-theme.scss';
@import './custom/sprite.scss';