<template>
  <h1 style="color:red">{{hasMixin ? 'MIXIN' : 'NO TIENE MIXIN'}}</h1>
</template>

<script lang='ts'>
  import Vue from 'vue';
  import Component, { mixins } from 'vue-class-component';
  import PruebaMixin from '../../mixins/PruebaMixin.vue';

  // You can declare a mixin as the same style as components.
  @Component
  export default class WithMixinsComponent extends mixins(PruebaMixin) {}
</script>